
<div class="card rcp-wrapper" data-node="recipe" data-view-mode="under_thirty">
              <div class="card rcp-info-wrapper">
                <div class="activity w-clearfix">
                  <div class="rcp-rating">
                    <div class="stars" data-node-field="rating">{{ content.recipe_rating }}</div>
                  </div>
                  <div class="saves w-clearfix">
                    <div class="saved-tally">168</div>
                    <div class="hero save-icon"></div>
                  </div>
                </div>
                <div class="summary">
                  <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                  <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
                </div><a class="card rcp-title w-inline-block" href="recipes/recipe.html">
                <h4 data-node-field="title">{{ label }}</h4></a>
              </div>
              <div class="card video-btn-wrapper">
                <a class="w-inline-block" href="#">
                {{ content.recipe_vid_icon }}</a>
              </div>{{ content.body }}</div>

              {{ content.field_image_cle }}