<div {{ attributes }}> {{ title_suffix }}

<div class="default-section" data-block="charts">
    <div class="_6col container text-centered">
      <div class="basic-header-wrapper">
        <h1 data-block-field="title">{{ content.charts_title }}</h1>
      </div>
    </div>
    <div class="_10col container w-clearfix">
      <div class="secondary">
       <h2 data-block-field="subtile">{{ content.charts_subtile }}</h2>
      </div>
      <div class="w-embed" data-block-field="product_tips">{{ content.charts_product_tips }}</div>
      <div data-block-field="note">{{ content.charts_note }}</div>
      <div class="secondary">
        <h2 data-block-field="p_measurement">{{ content.charts_p_measurement }}</h2>
      </div>
      <div class="w-embed" data-block-field="table_p_measurement">{{ content.charts_table_p_measurement }}</div>
      <div class="secondary">
        <h2 data-block-field="g_measurement">{{ content.charts_g_measurement }}</h2>
      </div>
      <div class="w-embed w-hidden-small w-hidden-tiny">
        <table><thead><tr><th>Gallons / Quarts / Pints</th>
              <th>Cups</th>
              <th>Fluid Ounces</th>
              <th>Tablespoons</th>
              <th>Teaspoons</th>
              <th>Milliliters</th>
            </tr></thead><tbody><tr><td>1 gal = 4 qts = 8 pints</td>
              <td>16 cups</td>
              <td>128 fl oz</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3.785 Liters</td>
            </tr><tr><td>1/4 gal = 1 qt = 2 pints</td>
              <td>4 cups</td>
              <td>32 fl oz</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>948 mL</td>
            </tr><tr><td>1/8 gal = 1/2 qt = 1 pint</td>
              <td style="">2 cups</td>
              <td style="">16 fl oz</td>
              <td style="">&nbsp;</td>
              <td style="">&nbsp;</td>
              <td style="">474 mL</td>
            </tr><tr><td>1/2 pint</td>
              <td style="">1 cup</td>
              <td style="">8 fl oz</td>
              <td style="">16 Tbsp ( T )</td>
              <td style="">48 tsp ( t )</td>
              <td style="">237 mL</td>
            </tr><tr><td>&nbsp;</td>
              <td style="">3/4 cup</td>
              <td style="">6 fl oz</td>
              <td style="">12 Tbsp</td>
              <td style="">36 tsp</td>
              <td style="">177 mL</td>
            </tr><tr><td>&nbsp;</td>
              <td style="">2/3 cup</td>
              <td style="">5-1/3 fl oz</td>
              <td style="">10-2/3 Tbsp</td>
              <td style="">32 tsp</td>
              <td style="">158 mL</td>
            </tr><tr><td>&nbsp;</td>
              <td style="">1/2 cup</td>
              <td style="">4 fl oz</td>
              <td style="">8 Tbsp</td>
              <td style="">24 tsp</td>
              <td style="">118 mL</td>
            </tr><tr><td>&nbsp;</td>
              <td style="">1/3 cup</td>
              <td style="">2-2/3 fl oz</td>
              <td style="">5-1/3 Tbsp</td>
              <td style="">16 tsp</td>
              <td style="">79 mL</td>
            </tr><tr><td>&nbsp;</td>
              <td style="">1/4 cup</td>
              <td style="">2 fl oz</td>
              <td style="">4 Tbsp</td>
              <td style="">12 tsp</td>
              <td style="">59 mL</td>
            </tr><tr><td>&nbsp;</td>
              <td style="">1/8 cup</td>
              <td style="">1 fl oz</td>
              <td style="">2 Tbsp</td>
              <td style="">6 tsp</td>
              <td style="">30 mL</td>
            </tr><tr><td>&nbsp;</td>
              <td style="">&nbsp;</td>
              <td style="">1/2 fl oz</td>
              <td style="">1 Tbsp</td>
              <td style="">3 tsp</td>
              <td style="">15 mL</td>
            </tr><tr><td>&nbsp;</td>
              <td style="">&nbsp;</td>
              <td style="">&nbsp;</td>
              <td style="">&nbsp;</td>
              <td style="">1 tsp</td>
              <td style="">5 mL</td>
            </tr></tbody></table></div>
      <div class="w-hidden-small w-hidden-tiny" data-block-field="anchor">{{ content.charts_anchor }}</div>
      <div data-block-field="another_way">{{ content.charts_another_way }}</div>
      <div class="contest cta-wrapper duplicate scl-actions sidebar">
        <h4>Share this!</h4>
        <a class="btn btn-tertiary pn scl-actions w-button" href="#">Pin it</a>
        <a class="btn btn-tertiary fb scl-actions w-button" href="#">Share it</a>
        <a class="btn btn-tertiary scl-actions tw w-button" href="#">Tweet it</a>
        <a class="btn btn-tertiary scl-actions w-button" href="#">Email it</a>
        <a class="btn btn-tertiary print scl-actions w-button" href="#">Print it</a>
      </div>
    </div>
  </div>

</div>