<div {{ attributes }}> {{ title_suffix }}

<div class="default-section" data-block="baking_tips">
    <div class="_6col container text-centered">
      <div class="basic-header-wrapper">
        {{ content.baking_tips_image }}<h1 data-block-field="title">{{ content.baking_tips_title }}</h1>
      </div>
    </div>
    <div class="_8col container">
      <div class="separator-line">
        <div class="secondary" data-block-field="subtitle">{{ content.baking_tips_subtitle }}</div>
        <div data-block-field="description">{{ content.baking_tips_description }}</div>
      </div>
      <div class="separator-line">
        <div class="secondary" data-block-field="c_surfaces">{{ content.baking_tips_c_surfaces }}</div>
        <div data-block-field="c_surfaces">{{ content.baking_tips_c_surfaces }}</div>
        {{ content.baking_tips_link1 }}
        {{ content.baking_tips_link2 }}
        {{ content.baking_tips_link3 }}
      </div>
      <div class="separator-line">
        <div class="secondary" data-block-field="cookie_sheet">{{ content.baking_tips_cookie_sheet }}</div>
        <div data-block-field="c_sheet">{{ content.baking_tips_c_sheet }}</div>
      </div>
      <div class="separator-line">
        <div class="secondary" data-block-field="soften">{{ content.baking_tips_soften }}</div>
        <div data-block-field="soften_desc">{{ content.baking_tips_soften_desc }}</div>
      </div>
    </div>
  </div>

</div>