<div {{ attributes }}> {{ title_suffix }}

<div class="default-section" data-block="blog_landing">
    <div class="blog-header container separator-line"></div>
    <div class="container">
      <div class="w-form">
        <form data-name="Email Form 2">
          <div class="form-input-wrapper txt-centered">
            <div class="clickable-tag-wrapper w-checkbox w-clearfix">
              <input checked class="display-none w-checkbox-input" data-name="Checkbox 144" id="checkbox-144" name="checkbox-144" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-144">All Recipes</label>
            </div>
            <div class="clickable-tag-wrapper w-checkbox w-clearfix">
              <input class="display-none w-checkbox-input" data-name="Checkbox 151" id="checkbox-151" name="checkbox-151" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-151">Recipes</label>
            </div>
            <div class="clickable-tag-wrapper w-checkbox w-clearfix">
              <input class="display-none w-checkbox-input" data-name="Checkbox 145" id="checkbox-145" name="checkbox-145" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-145">Baking Tips</label>
            </div>
            <div class="clickable-tag-wrapper w-checkbox w-clearfix">
              <input class="display-none w-checkbox-input" data-name="Checkbox 146" id="checkbox-146" name="checkbox-146" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-146">Gifts</label>
            </div>
            <div class="clickable-tag-wrapper w-checkbox w-clearfix">
              <input class="display-none w-checkbox-input" data-name="Checkbox 147" id="checkbox-147" name="checkbox-147" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-147">Holidays</label>
            </div>
            <div class="clickable-tag-wrapper w-checkbox w-clearfix">
              <input class="display-none w-checkbox-input" data-name="Checkbox 148" id="checkbox-148" name="checkbox-148" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-148">Kids Kitchen</label>
            </div>
            <div class="clickable-tag-wrapper w-checkbox w-clearfix">
              <input class="display-none w-checkbox-input" data-name="Checkbox 149" id="checkbox-149" name="checkbox-149" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-149">Sugar Spa</label>
            </div>
            <div class="clickable-tag-wrapper w-checkbox w-clearfix">
              <input class="display-none w-checkbox-input" data-name="Checkbox 150" id="checkbox-150" name="checkbox-150" type="checkbox"><label class="clickable-tag w-form-label" for="checkbox-150">Videos</label>
            </div>
          </div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form</div>
        </div>
      </div>
    </div>
    {{ content.blog_landing_hero }}
    <div class="card-slider container margin-top-bottom">
      <div class="separator-line"></div>
      <h3 class="secondary txt-centered">Popular Articles</h3>
      <div class="collection-title-underline"></div>
      <div class="base-slider card w-slider" data-animation="slide" data-duration="200" data-infinite="1">
        {{ content.blog_landing_popular }}
        <div class="w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-round w-slider-nav"></div>
      </div>
    </div>
    <div class="container">
      <h3 class="secondary txt-centered">Latest Articles</h3>
      <div class="collection-title-underline"></div>
      {{ content.blog_landing_latest }}
      <div class="load-more-wrapper">
        <a class="btn w-button" href="#">Show more</a>
      </div>
    </div>
  </div>

</div>