<div {{ attributes }}> {{ title_suffix }}

<div class="default-section" data-block="featured_videos">
    <div class="_6col container text-centered">
      <div class="basic-header-wrapper">
        <h1 data-block-field="title">{{ content.featured_videos_title }}</h1>
        <div data-block-field="description">{{ content.featured_videos_description }}</div>
      </div>
    </div>
    <div class="container separator-line-top-bottom">
      {{ content.featured_videos_baking_featured }}
    </div>
  </div>

</div>