<div {{ attributes }}> {{ title_suffix }}

<div class="default-section" data-block="free_d_book">
    <div class="_6col container text-centered">
      <div class="basic-header-wrapper">
        <h1 data-block-field="title">{{ content.free_d_book_title }}</h1>
        <div data-block-field="description">{{ content.free_d_book_description }}</div>
      </div>
    </div>
    <div class="container">
      {{ content.free_d_book_free_digital }}
    </div>
  </div>

</div>