<div {{ attributes }}> {{ title_suffix }}

<div class="default-section" data-block="sugar_landing">
    <div class="_8col container separator-line">
      <div class="basic-header-wrapper">
        {{ content.sugar_landing_header }}<h1 data-block-field="title">{{ content.sugar_landing_title }}</h1>
      </div>
    </div>
    <div class="_8col container">
      <div data-block-field="top">{{ content.sugar_landing_top }}</div>
      <div class="bg-secondary sgr-101-list-items" data-block-field="items_list">{{ content.sugar_landing_items_list }}</div>
      <div data-block-field="bottom">{{ content.sugar_landing_bottom }}</div>
    </div>
    <div class="container margin-top-bottom">
      <h3 class="secondary txt-centered">Sugar 101 - Learn about our Sugar</h3>
      <div class="collection-title-underline"></div>
      {{ content.sugar_landing_sugar_list }}
    </div>
  </div>

</div>