<div {{ attributes }}> {{ title_suffix }}

<div class="corporate-section default-section dixie" data-block="dixie_learn">
    <div class="_10col container w-clearfix">{{ content.dixie_learn_dixie }}<h2 class="tertiary txt-centered" data-block-field="title">{{ content.dixie_learn_title }}</h2>
      <div class="tertiary text-left" data-block-field="description">{{ content.dixie_learn_description }}</div>
      <div class="_33-pc w-hidden-small w-hidden-tiny">
        <h4 class="tertiary">Vintage Imperial</h4>
        <div class="separator-line tertiary"></div><a class="arrow-link display-block tertiary" href="#">Vintage Cookbooks</a><a class="arrow-link display-block tertiary" href="#">Digital Cookbooks</a><a class="arrow-link display-block tertiary" href="#">Vintage Commercials</a><a class="arrow-link display-block tertiary" href="#">Imperial Sugar Legacy</a>
      </div>
      <div class="_33-pc">
        <h4 class="tertiary">Cane Sugar 101</h4>
        <div class="separator-line tertiary"></div><a class="arrow-link display-block tertiary" href="#">Cane Sugar vs. Beet Sugar</a><a class="arrow-link display-block tertiary" href="#">How Sugar is Processed</a><a class="arrow-link display-block tertiary" href="#">Dark Brown vs. Light Brown Sugar</a><a class="arrow-link display-block tertiary" href="#">Refined Sugar vs. Raw Sugar</a><a class="arrow-link display-block tertiary" href="#">Sugar Myths</a><a class="arrow-link display-block tertiary" href="#">Certifications</a>
      </div>
      <div class="_33-pc">
        <h4 class="tertiary">Our Sugar Products</h4>
        <div class="separator-line tertiary"></div><a class="arrow-link display-block tertiary" href="#">Sugar Shakers</a><a class="arrow-link display-block tertiary" href="#">Light Brown Sugar</a><a class="arrow-link display-block tertiary" href="#">Dark Brown Sugar</a><a class="arrow-link display-block tertiary" href="#">Granulated Sugar</a><a class="arrow-link display-block tertiary" href="#">Powdered Sugar</a><a class="arrow-link display-block tertiary" href="#">Steviacane</a><a class="arrow-link display-block tertiary" href="#">Specialty Sugar</a>
      </div>
    </div>
  </div>

</div>