<div {{ attributes }}> {{ title_suffix }}

<div class="default-section" data-block="home_hero">
    <div class="card-slider container">
      <h3 class="secondary txt-centered" data-block-field="special">{{ content.home_hero_special }}</h3>
      <div class="collection-title-underline"></div>
      {{ content.home_hero_slider_view }}
    </div>
    <div class="card-slider container">
      <h3 class="secondary txt-centered" data-block-field="under_30">{{ content.home_hero_under_30 }}</h3>
      <div class="collection-title-underline"></div>
      {{ content.home_hero_under_30_view }}
    </div>
  </div>

</div>