<div {{ attributes }}> {{ title_suffix }}

<div class="default-section ftr-section" data-block="footer">
    <div class="container ftr-wrapper separator-line w-clearfix">
      {{ content.footer_imperial_logo }}{{ content.footer_dixie_logo }}<div class="ftr-nav-wrapper">
        {{ coporatemenu }}
        {{ footermenu }}
      </div>
      {{ content.footer_imperial_products }}{{ content.footer_dixie_products }}</div>
    <div class="container ftr-wrapper">
      <div class="scl-ftr scl-wrapper">
        <a class="_30px scl w-inline-block" href="https://www.facebook.com/imperialsugar"></a>
        <a class="_30px pn scl w-inline-block" href="https://www.pinterest.com/imperialsugar/" target="_blank"></a>
        <a class="_30px scl tw w-inline-block" href="https://twitter.com/imperialsugar" target="_blank"></a>
        <a class="_30px gl scl w-inline-block" href="https://plus.google.com/u/0/b/113189406007727932134/+imperialsugar/posts" target="_blank"></a>
        <a class="_30px in scl w-inline-block" href="http://instagram.com/imperial_sugar" target="_blank"></a>
        <a class="_30px scl w-inline-block yt" href="http://www.youtube.com/user/imperialsugar" target="_blank"></a>
      </div>
      <div class="ftr-copyright">
        &copy; 2012&ndash;2016 Imperial Sugar. All rights reserved. All Imperial Sugar branded products are the registered marks of the Imperial Sugar Company.
      </div>
    </div>
  </div>

</div>