<div {{ attributes }}> {{ title_suffix }}

<div class="default-section" data-block="home_projects">
    <div class="container list w-clearfix">
      <div class="_33-pc rcp-list-col">
        <div class="w-clearfix" data-mh="column">
          <h3 class="quatinery" data-block-field="column_title">{{ content.home_projects_column_title }}</h3>
        <div class="list rcp-wrapper">
          <div class="rcp-info-wrapper rcp-list">
            <div class="activity list w-clearfix">
              <div class="list saves w-clearfix">
                <div class="faved list save-icon"></div>
                <div class="list save-icon" data-ix="modal-login-show"></div>
                <div class="rcp-list saved-tally">31</div>
              </div>
              <div class="stars"></div>
            </div>
            <a class="list rcp-title w-inline-block" href="recipes/recipe.html">
              <h4>Delicious Praline Cinnamon Monkey Bread</h4>
            </a>
            <div class="rcp-list summary">
              <div class="dynamic-data rcp-summary-data">
                By:
                <a class="txt-link-sm" href="user/recipe-box.html">Chef Eddie Van Damme</a>
              </div>
            </div>
          </div>
          <div class="object-fit rcp-img-list">
            <img height="99" src="/themes/imperial/images/Praline-Cinnamon-Monkey-Bread.jpg"></div>
        </div>
          <div class="list rcp-wrapper w-hidden-main w-hidden-small w-hidden-tiny">
            <div class="rcp-info-wrapper rcp-list">
              <div class="activity list w-clearfix">
                <div class="list saves w-clearfix">
                  <div class="list save-icon"></div>
                  <div class="rcp-list saved-tally">31</div>
                </div>
                <div class="stars"></div>
              </div>
              <a class="list rcp-title w-inline-block" href="recipes/recipe.html">
                <h4>Delicious Praline Cinnamon Monkey Bread</h4>
              </a>
              <div class="rcp-list summary">
                <div class="dynamic-data rcp-summary-data">
                  By:
                  <a class="txt-link-sm" href="#">Chef Eddie Van Damme</a>
                </div>
              </div>
            </div>
            <div class="object-fit rcp-img-list">
              <img height="99" src="/themes/imperial/images/Praline-Cinnamon-Monkey-Bread.jpg"></div>
          </div>
        </div>
      </div>
      <div class="_33-pc rcp-list-col">
        <div class="w-clearfix" data-mh="column">
          <h3 class="quatinery" data-block-field="column_title">{{ content.home_projects_column_title }}</h3>
          <div class="list rcp-wrapper">
          <div class="rcp-info-wrapper rcp-list">
            <div class="activity list w-clearfix">
              <div class="list saves w-clearfix">
                <div class="faved list save-icon"></div>
                <div class="list save-icon" data-ix="modal-login-show"></div>
                <div class="rcp-list saved-tally">31</div>
              </div>
              <div class="stars"></div>
            </div>
            <a class="list rcp-title w-inline-block" href="recipes/recipe.html">
              <h4>Delicious Praline Cinnamon Monkey Bread</h4>
            </a>
            <div class="rcp-list summary">
              <div class="dynamic-data rcp-summary-data">
                By:
                <a class="txt-link-sm" href="user/recipe-box.html">Chef Eddie Van Damme</a>
              </div>
            </div>
          </div>
          <div class="object-fit rcp-img-list">
            <img height="99" src="/themes/imperial/images/Praline-Cinnamon-Monkey-Bread.jpg"></div>
        </div>
          <div class="list rcp-wrapper w-hidden-main w-hidden-small w-hidden-tiny">
            <div class="rcp-info-wrapper rcp-list">
              <div class="activity list w-clearfix">
                <div class="list saves w-clearfix">
                  <div class="list save-icon"></div>
                  <div class="rcp-list saved-tally">31</div>
                </div>
                <div class="stars"></div>
              </div>
              <a class="list rcp-title w-inline-block" href="recipes/recipe.html">
                <h4>Delicious Praline Cinnamon Monkey Bread</h4>
              </a>
              <div class="rcp-list summary">
                <div class="dynamic-data rcp-summary-data">
                  By:
                  <a class="txt-link-sm" href="#">Chef Eddie Van Damme</a>
                </div>
              </div>
            </div>
            <div class="object-fit rcp-img-list">
              <img height="99" src="/themes/imperial/images/Praline-Cinnamon-Monkey-Bread.jpg"></div>
          </div>
        </div>
      </div>
      <div class="_33-pc">
        <div data-mh="column">
          <h3 class="quatinery" data-block-field="column_title">{{ content.home_projects_column_title }}</h3>
          {{ content.home_projects_sweetalk_blog }}
        </div>
      </div>
    </div>
  </div>

</div>