
              <div class="w-slide">
              <div class="rcp-wrapper" data-node="recipe" data-view-mode="hero">
                <div class="rcp-info-wrapper">
                  <div class="activity rcp-hero w-clearfix">
                    <div class="rcp-rating">
                      <div class="hero stars star-{{content.field_rating_average.0}}"></div>
                    </div>
                    <div class="likes w-clearfix">
                      <div class="saved-tally">{{favorite_count}}</div>
                      {% if not logged_in %}
                      <div class="hero save-icon" data-ix="modal-login-show">
                        <a class="action-flag" href="#">+</a>
                      </div>
                      {% else %}
                      <div class="hero save-icon">
                      {{content.flag_favorite}}
                      </div>
                      {% endif %}
                    </div>

                    <div class="likes w-clearfix">
                      <div class="saved-tally">{{bookmark_count}}</div>
                      {% if not logged_in %}
                      <div class="hero like-icon" data-ix="modal-login-show">
                        <a class="action-flag" href="#">+</a>
                      </div>
                      {% else %}
                      <div class="hero like-icon">
                        {{content.flag_bookmark}}
                      </div>
                      {% endif %}
                    </div>
                  </div><a class="rcp-title w-inline-block" href="recipes/recipe.html"><h3>{{label}}</h3></a>
                  <div class="summary">
                    <div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
                    <div class="dynamic-data rcp-summary-data">Total time: 31&ndash;34 mins</div>
                    <div class="dynamic-data rcp-summary-data">Yield: 12&ndash;18 Cannolis</div>
                    <div class="dynamic-data rcp-summary-data">By: <a class="txt-link-sm" href="user/recipe-box.html">{{author_name}}</a>
                    </div>
                  </div>
                </div>
                <div class="object-fit rcp-img-hero">
                  {{ content.recipe_recipe_image }}
                </div>
              </div>
            </div>