<div class="list rcp-wrapper" data-node="recipe" data-view-mode="list">
    <div class="rcp-info-wrapper rcp-list">
      <div class="activity list-item">
        <div class="stars"></div>
        <div class="likes list w-clearfix">
          <div class="rcp-list saved-tally">31</div>
          <div class="like-icon list" data-ix="modal-login-show"><a class="action-flag" href="#">+</a>
          </div>
        </div>
        <div class="likes list w-clearfix">
          <div class="rcp-list saved-tally">31</div>
          <div class="list save-icon" data-ix="modal-login-show"><a class="action-flag" href="#">+</a>
          </div>
        </div>
      </div><a class="list rcp-title w-inline-block" href="{{url}}"><h4>{{label}}</h4></a>
      <div class="rcp-list summary">
        <div class="dynamic-data rcp-summary-data">By: <a class="txt-link-sm" href="{{author_url}}">{{author_name}}</a>
        </div>
      </div>
    </div>
    <div class="object-fit rcp-img-list">{{ content.recipe_image }}
    </div>
  </div>