
<div data-node="recipe">
  <div class="top-nav">
    <div class="login-modal" data-ix="modal-bg-initial-appearance">
      <div class="modal-wrapper txt-centered">
        <a class="modal side-nav-close-wrapper w-clearfix w-inline-block" data-ix="modal-login-hide" href="#">
          <div class="main-nav-link-bg-highlight side-nav-close">Close</div>
          <img height="14" src="/themes/isonetheme/../images/side%20nav%20close%20x.svg" width="14"></a>
        <img class="login logo" src="/themes/isonetheme/../images/Imperial_Brand_Logo.svg" width="100"><h3>Sign in or create an account</h3>
        <p>
          You need an account to like and rate recipes, comment, and share a recipe with the community.
        </p>
        <a class="btn-login fb w-button" href="#">Continue with Facebook</a>
        <a class="btn-login tw w-button" href="#">Continue with Twitter</a>
        <a class="btn-login gl w-button" href="#">Continue with Google</a>
        <div class="login-alt">
          <a href="#">Sign in</a>
          or
          <a href="#">Create an Account</a>
          with email
        </div>
        <img class="logo w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny" src="/themes/isonetheme/../images/DixieCrystals_Color.svg" width="100"></div>
      <div class="modal-wrapper txt-centered">
        <a class="modal side-nav-close-wrapper w-clearfix w-inline-block" data-ix="modal-login-hide" href="#">
          <div class="main-nav-link-bg-highlight side-nav-close">Cancel</div>
          <img height="14" src="/themes/isonetheme/../images/side%20nav%20close%20x.svg" width="14"></a>
        <img class="login logo" src="/themes/isonetheme/../images/Imperial_Brand_Logo.svg" width="100"><div class="w-form">
          <form data-name="Email Form 2" id="email-form-2" name="email-form-2">
            <p>Sign in with email and password</p>
            <label class="hidden" for="email-signin-2" id="email-signin">Email Address:</label>
            <input class="login-input w-input" data-name="email-signin" id="email-signin-2" maxlength="256" name="email-signin" placeholder="Email address" required="required" type="email"><label class="hidden" for="password-signin-2">Password</label>
            <input class="login-input w-input" data-name="Password Signin 2" id="password-signin-2" maxlength="256" name="password-signin-2" placeholder="Password" required="required" type="password"><input class="btn-login w-button" data-wait="Please wait..." type="submit" value="Sign in"></form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form</div>
          </div>
        </div>
        <img class="logo w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny" src="/themes/isonetheme/../images/DixieCrystals_Color.svg" width="100"><div class="login-alt">
          <a href="#">Forgot password?</a>
          or use
          <a href="#">Social Login</a>
        </div>
      </div>
      <div class="modal-wrapper txt-centered">
        <a class="modal side-nav-close-wrapper w-clearfix w-inline-block" data-ix="modal-login-hide" href="#">
          <div class="main-nav-link-bg-highlight side-nav-close">Cancel</div>
          <img height="14" src="/themes/isonetheme/../images/side%20nav%20close%20x.svg" width="14"></a>
        <img class="login logo" src="/themes/isonetheme/../images/Imperial_Brand_Logo.svg" width="100"><div class="w-form">
          <form data-name="Email Form 2" id="email-form-2" name="email-form-2">
            <p>Enter your email to create an account</p>
            <label class="hidden" for="email-create-account-3">Email Address:</label>
            <input class="login-input w-input" data-name="email-create-account" id="email-create-account-3" maxlength="256" name="email-create-account" placeholder="Email address" required="required" type="email"><input class="btn-login em w-button" data-wait="Please wait..." type="submit" value="Send verification email"></form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form</div>
          </div>
        </div>
        <img class="logo w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny" src="/themes/isonetheme/../images/DixieCrystals_Color.svg" width="100"><div class="login-alt">
          <a href="#">Already have an account?</a>
          or use
          <a href="#">Social Sign In</a>
        </div>
      </div>
      <div class="modal-wrapper txt-centered">
        <img class="login logo" src="/themes/isonetheme/../images/Imperial_Brand_Logo.svg" width="100"><p>
          We sent a verification link to your email. Please check your inbox.
        </p>
        <a class="btn-login w-inline-block" data-ix="modal-login-hide" href="#">
          <div>OK</div>
        </a>
        <img class="logo w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny" src="/themes/isonetheme/../images/DixieCrystals_Color.svg" width="100"></div>
      <div class="modal-wrapper txt-centered">
        <a class="modal side-nav-close-wrapper w-clearfix w-inline-block" data-ix="modal-login-hide" href="#">
          <div class="main-nav-link-bg-highlight side-nav-close">Cancel</div>
          <img height="14" src="/themes/isonetheme/../images/side%20nav%20close%20x.svg" width="14"></a>
        <img class="login logo" src="/themes/isonetheme/../images/Imperial_Brand_Logo.svg" width="100"><div class="w-form">
          <form data-name="Email Form 2" id="email-form-2" name="email-form-2">
            <p>Set your password</p>
            <label for="password-create-2">Type your password</label>
            <input class="login-input w-input" data-name="Password Create 2" id="password-create-2" maxlength="256" name="password-create-2" placeholder="Password" required="required" type="password"><label class="hidden" for="password-create-confirm-2">Confirm your password</label>
            <input class="login-input w-input" data-name="Password Create Confirm 2" id="password-create-confirm-2" maxlength="256" name="password-create-confirm-2" placeholder="Confirm Password" required="required" type="password"><input class="btn-login em w-button" data-wait="Please wait..." type="submit" value="Sign in"></form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form</div>
          </div>
        </div>
        <img class="logo w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny" src="/themes/isonetheme/../images/DixieCrystals_Color.svg" width="100"><div class="login-alt">
          <a href="#">Already have an account?</a>
          or use
          <a href="#">Social Sign In</a>
        </div>
      </div>
    </div>
    <div class="logged-out nav-account-wrapper w-clearfix w-hidden-small w-hidden-tiny">
      <a class="logged-out user-pic-small user-pic-wrapper w-hidden-medium w-hidden-small w-hidden-tiny w-inline-block" href="#"></a>
      <a class="nav-account-signup-spacing tertiary" data-ix="modal-login-show" href="#">Join FREE</a>
      <a class="nav-account-signup-spacing tertiary" data-ix="modal-login-show" href="#">Sign In</a>
    </div>
    <div class="nav-account-wrapper w-hidden-small w-hidden-tiny">
      <div class="nav-account-arrow w-dropdown" data-delay="0" data-hover="1">
        <div class="dropdown-toggle w-dropdown-toggle">
          <div class="user-pic-nav-account user-pic-small user-pic-wrapper">
            <img height="100%" src="/themes/isonetheme/../images/user-pic-example.jpg" width="100%"></div>
          <div class="nav-account-text">Account</div>
        </div>
        <nav class="mega-menu-wrapper nav-account w-clearfix w-dropdown-list"><div class="mega-menu-column">
            <a class="l3 main-nav-link-bg-highlight nav-account w-dropdown-link" href="../user/recipe-box.html">My Recipe Box</a>
            <a class="l3 main-nav-link-bg-highlight nav-account w-dropdown-link" href="../community/share-a-recipe.html">Share a Recipe</a>
            <a class="l3 main-nav-link-bg-highlight nav-account w-dropdown-link" href="../user/edit-profile.html">Edit Profile</a>
            <a class="l3 main-nav-link-bg-highlight nav-account w-dropdown-link" href="../index.html">Log Out</a>
          </div>
        </nav></div>
    </div>
    <a class="logo-wrapper w-inline-block" href="../index.html">
      <img class="logo" height="80%" src="/themes/isonetheme/../images/Imperial_Brand_Logo.svg" width="80%"><img class="logo w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny" src="/themes/isonetheme/../images/DixieCrystals_Color.svg" width="110"></a>
    <div class="search-bar-position w-form" data-ix="search-bar-hide">
      <form class="search-form-wrapper w-clearfix" data-name="Email Form" id="email-form" name="email-form">
        <input autofocus="autofocus" class="search-field-global w-input" data-ix="search-bar-show" data-name="Search" id="Search" maxlength="256" name="Search" placeholder="Search recipes, ideas, anything&hellip;" type="text"><input class="search-btn-global w-button" data-wait="Please wait..." type="submit" value="Search" wait="Please wait..."><a class="cancel search-btn-global w-button w-hidden-main w-hidden-medium" data-ix="search-bar-hide" href="#">Cancel</a>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny">
        <div>Oops! Something went wrong while submitting the form</div>
      </div>
    </div>
    <div class="nav-links-wrapper w-clearfix">
      <div class="nav-links">
        <a class="main-nav-link-bg-highlight mobile-nav-menu-link search w-hidden-main w-hidden-medium w-inline-block" data-ix="search-bar-show" href="#">
          <div class="w-hidden-main w-hidden-medium">Search</div>
        </a>
        <div class="main-nav-link-bg-highlight w-dropdown w-hidden-small w-hidden-tiny" data-delay="0" data-hover="1">
          <div class="dropdown-toggle w-dropdown-toggle">
            <a class="top-level-link-override w-inline-block" href="../recipes-2.html">
              <div>Recipes</div>
            </a>
          </div>
          <nav class="mega-menu-wrapper super-wide w-clearfix w-dropdown-list"><div class="mega-menu-column w-clearfix">
              <a class="l2 main-nav-link-bg-highlight w-inline-block" href="../recipe-collection-overview.html">
                <div>Handy</div>
              </a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Quick and Easy</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Latest Recipes</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Most Popular</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Vintage Recipes</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Gluten Free</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Reduced Sugar</a>
            </div>
            <div class="mega-menu-column w-clearfix">
              <a class="l2 main-nav-link-bg-highlight w-inline-block" href="../recipe-collection-overview.html">
                <div>Holidays</div>
              </a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Christmas</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Cinco De Mayo</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Dia De Los Muertos</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Easter</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Father's Day</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Halloween /&nbsp;Dia De Los Muertos</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Hanukkah</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Independence Day</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Mardi Gras</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Memorial Day</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Mother's Day</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Passover</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Rosh Hashanah</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">St. Patrick's Day</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Thanksgiving</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Valentine's Day</a>
            </div>
            <div class="mega-menu-column w-clearfix">
              <a class="l2 main-nav-link-bg-highlight w-inline-block" href="../recipe-collection-overview.html">
                <div>Desserts</div>
              </a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Brownies</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Cakes</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Candy</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Cheesecakes</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Cookies</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Bars</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Crisps</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Cobblers</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Crumbles</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Cupcakes</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Frosting</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Glazes</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Syrup</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Frozen Desserts</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Pastry</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Pies &amp; Tarts</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Pudding</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Mousse</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Souffl&eacute;s</a>
            </div>
            <div class="mega-menu-column w-clearfix">
              <a class="l2 main-nav-link-bg-highlight w-inline-block" href="../recipe-collection-overview.html">
                <div>Course</div>
              </a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Appetizers</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Breakfast</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Dessert</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Entr&eacute;es</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Side Dishes</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Snacks</a>
            </div>
            <div class="mega-menu-column w-clearfix">
              <a class="l2 main-nav-link-bg-highlight w-inline-block" href="../recipe-collection-overview.html">
                <div>Special</div>
              </a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Ethnic Recipes</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Gifts</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Sugar Scrubs</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Pet Treats</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Recipes for Kids</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Reduced Sugar</a>
            </div>
          </nav></div>
        <div class="main-nav-link-bg-highlight w-dropdown w-hidden-medium w-hidden-small w-hidden-tiny" data-delay="0" data-hover="1">
          <div class="dropdown-toggle w-dropdown-toggle">
            <a class="top-level-link-override w-inline-block" href="../recipes/recipe-collection.html">
              <div>Easter</div>
            </a>
          </div>
          <nav class="mega-menu-wrapper w-clearfix w-dropdown-list"><div class="mega-menu-column w-clearfix">
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Easter Desserts</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Savory Recipes</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../kids-in-the-kitchen/recipe-collection.html">Easter Crafts &amp; Gifts</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Easter for&nbsp;Kids</a>
            </div>
          </nav></div>
        <div class="main-nav-link-bg-highlight w-dropdown w-hidden-small w-hidden-tiny" data-delay="0" data-hover="1">
          <div class="dropdown-toggle w-dropdown-toggle">
            <a class="top-level-link-override w-inline-block" href="../kids-in-the-kitchen-2.html">
              <div>Kids in the Kitchen</div>
            </a>
          </div>
          <nav class="mega-menu-wrapper w-clearfix w-dropdown-list"><div class="mega-menu-column">
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../kids-in-the-kitchen/my-first-cookbook.html">My First Cookbooks</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../kids-in-the-kitchen/cubie-cubettes-cooking-club.html">Cubie &amp; Cubette's Cooking Club</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../kids-in-the-kitchen/recipe-collection.html">Fun Kid&rsquo;s Projects</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../kids-in-the-kitchen/recipe-collection.html">Edible Art Projects</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../kids-in-the-kitchen/recipe-collection.html">Kid&rsquo;s Craft Ideas</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../kids-in-the-kitchen/recipe-collection.html">Sweet Science Projects</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../kids-in-the-kitchen/recipe-collection.html">Flavored &amp; Colored Sugar</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../kids-in-the-kitchen/recipe-collection.html">Homemade Candy</a>
            </div>
          </nav></div>
        <div class="main-nav-link-bg-highlight w-dropdown w-hidden-small w-hidden-tiny" data-delay="0" data-hover="1">
          <div class="dropdown-toggle w-dropdown-toggle">
            <a class="top-level-link-override w-inline-block" href="../sugar-spa.html">
              <div>Sugar Spa</div>
            </a>
          </div>
          <nav class="mega-menu-wrapper w-clearfix w-dropdown-list"><div class="mega-menu-column w-clearfix">
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../sugar-spa/recipe-collection.html">Sugar Scrubs</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../sugar-spa/recipe-collection.html">Bath Products</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../sugar-spa/recipe-collection.html">Sugar Scrub Labels</a>
            </div>
          </nav></div>
        <div class="main-nav-link-bg-highlight w-dropdown w-hidden-small w-hidden-tiny" data-delay="0" data-hover="1">
          <div class="dropdown-toggle w-dropdown-toggle">
            <a class="top-level-link-override w-inline-block" href="../community.html">
              <div>Community</div>
            </a>
          </div>
          <nav class="mega-menu-wrapper w-clearfix w-dropdown-list"><div class="mega-menu-column">
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../community.html">Join the Community</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../community/share-a-recipe.html">Share a Recipe</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../user/recipe-box.html">Meet Chef Eddy Van Damme</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../community/our-bloggers.html">Meet our Bloggers</a>
            </div>
          </nav></div>
        <a class="main-nav-link-bg-highlight w-hidden-medium w-hidden-small w-hidden-tiny w-inline-block" href="../blog-2.html">
          <div>Blog</div>
        </a>
        <a class="main-nav-link-bg-highlight w-hidden-small w-hidden-tiny w-inline-block" href="../contests.html">
          <div>Contests</div>
        </a>
        <a class="main-nav-link-bg-highlight w-hidden-small w-hidden-tiny w-inline-block" href="../coupons.html">
          <div>Coupons</div>
        </a>
        <img class="top-nav-separator w-hidden-small w-hidden-tiny" height="15" src="/themes/isonetheme/../images/top-nav-more-separator.svg" width="3"><div class="main-nav-link-bg-highlight w-dropdown w-hidden-medium w-hidden-small w-hidden-tiny" data-delay="0" data-hover="1">
          <div class="dropdown-toggle w-dropdown-toggle">
            <a class="top-level-link-override w-inline-block" href="#">
              <div>More</div>
            </a>
          </div>
          <nav class="mega-menu-wrapper w-clearfix w-dropdown-list"><div class="mega-menu-column">
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../baking-videos.html">Baking Videos</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../cooking-and-baking-tips.html">Cooking &amp; Baking Tips</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../conversion-charts.html">Conversion Charts</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../digital-cookbooks.html">Digital Cookbooks</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../kids-in-the-kitchen/recipe-collection.html">Vintage Recipes</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../sweetalk-newsletter.html">Sweetalk Newsletter</a>
              <div class="separator-line"></div>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../vintage-imperial.html">Vintage Imperial</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../cane-sugar-101.html">Cane Sugar 101</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../products-3.html">Imperial Sugar Products</a>
              <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../contact.html">Contact Us</a>
            </div>
          </nav></div>
        <a class="main-nav-link-bg-highlight mobile-nav-menu-link w-inline-block" data-ix="side-nav-show" href="#">
          <div class="w-hidden-main">Menu</div>
        </a>
      </div>
    </div>
    <div class="nav-bg-image-overlay"></div>
    <div class="object-fit top-nav">
      <img class="w-hidden-small w-hidden-tiny" height="150" src="/themes/isonetheme/../images/nav-default-bg-img.jpg"></div>
  </div>
  <div class="side-nav" data-ix="sticky-scl-actions-display-none">
    <div>
      <a class="side-nav-close-wrapper w-clearfix w-inline-block" data-ix="side-nav-hide" href="#">
        <div class="main-nav-link-bg-highlight side-nav-close">Close</div>
        <img height="14" src="/themes/isonetheme/../images/side%20nav%20close%20x.svg" width="14"></a>
      <div class="separator-line"></div>
      <div class="main-nav-link-bg-highlight side-nav-link w-clearfix w-dropdown" data-delay="0">
        <div class="dropdown-toggle w-dropdown-toggle">
          <div>Recipes</div>
        </div>
        <nav class="side-nav-dropdown-wrapper w-dropdown-list"><a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Quick and Easy</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Latest Recipes</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Most Popular</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Vintage Recipes</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Gluten Free</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Reduced Sugar</a>
        </nav></div>
      <div class="main-nav-link-bg-highlight side-nav-link w-clearfix w-dropdown" data-delay="0">
        <div class="dropdown-toggle w-dropdown-toggle">
          <div>Easter</div>
        </div>
        <nav class="side-nav-dropdown-wrapper w-dropdown-list"><a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Easter Desserts</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../kids-in-the-kitchen/recipe-collection.html">Easter Crafts &amp; Gifts</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Easter for Kids</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">All Easter Ideas&hellip;</a>
        </nav></div>
      <div class="main-nav-link-bg-highlight side-nav-link w-clearfix w-dropdown" data-delay="0">
        <div class="dropdown-toggle w-dropdown-toggle">
          <div>Kids in the Kitchen</div>
        </div>
        <nav class="side-nav-dropdown-wrapper w-dropdown-list"><a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../kids-in-the-kitchen/my-first-cookbook.html">My First Cookbooks</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../kids-in-the-kitchen/cubie-cubettes-cooking-club.html">Cubie &amp; Cubette's Cooking Club</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../kids-in-the-kitchen/recipe-collection.html">Fun Kids' Projects</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../kids-in-the-kitchen/recipe-collection.html">Edible Art Projects</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../kids-in-the-kitchen/recipe-collection.html">Kids Craft Ideas</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../kids-in-the-kitchen/recipe-collection.html">Sweet Science Projects</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../kids-in-the-kitchen/recipe-collection.html">Flavored and Colored Sugar</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../kids-in-the-kitchen/recipe-collection.html">Homemade Candy</a>
        </nav></div>
      <div class="main-nav-link-bg-highlight side-nav-link w-clearfix w-dropdown" data-delay="0">
        <div class="dropdown-toggle w-dropdown-toggle">
          <div>Sugar Spa</div>
        </div>
        <nav class="side-nav-dropdown-wrapper w-dropdown-list"><a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../sugar-spa/recipe-collection.html">Sugar Scrubs</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../sugar-spa/recipe-collection.html">Bath Products</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../sugar-spa/recipe-collection.html">Sugar Scrub Labels</a>
        </nav></div>
      <div class="main-nav-link-bg-highlight side-nav-link w-clearfix w-dropdown" data-delay="0">
        <div class="dropdown-toggle w-dropdown-toggle">
          <div>Community</div>
        </div>
        <nav class="side-nav-dropdown-wrapper w-dropdown-list"><a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../community.html">Join the Community</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../community/share-a-recipe.html">Share a Recipe</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../recipes/recipe-collection.html">Community Recipes</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../user/recipe-box.html">Meet Chef Eddy Van Damme</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../community/our-bloggers.html">Meet our Bloggers</a>
        </nav></div>
      <a class="main-nav-link-bg-highlight side-nav-link w-inline-block" href="../blog-2.html">
        <div>Blog</div>
      </a>
      <a class="main-nav-link-bg-highlight side-nav-link w-inline-block" href="../contests.html">
        <div>Contests</div>
      </a>
      <a class="main-nav-link-bg-highlight side-nav-link w-inline-block" href="../coupons.html">
        <div>Coupons</div>
      </a>
      <div class="main-nav-link-bg-highlight side-nav-link w-clearfix w-dropdown" data-delay="0">
        <div class="dropdown-toggle w-dropdown-toggle">
          <div>More</div>
        </div>
        <nav class="side-nav-dropdown-wrapper w-clearfix w-dropdown-list"><a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../baking-videos.html">Baking Videos</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../cooking-and-baking-tips.html">Cooking &amp; Baking Tips</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../conversion-charts.html">Conversion Charts</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../digital-cookbooks.html">Digital Cookbooks</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../sweetalk-newsletter.html">Sweetalk Newsletter</a>
          <div class="separator-line"></div>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../vintage-imperial.html">Vintage Imperial</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../cane-sugar-101.html">Cane Sugar 101</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../products-3.html">Imperial Sugar Products</a>
          <a class="l3 main-nav-link-bg-highlight w-dropdown-link" href="../contact.html">Contact Us</a>
        </nav></div>
      <div class="separator-line"></div>
      <div class="bottom-padding main-nav-link-bg-highlight side-nav-link w-dropdown" data-delay="0">
        <div class="dropdown-toggle w-dropdown-toggle">
          <div class="quatinery">Account</div>
        </div>
        <nav class="side-nav-dropdown-wrapper w-dropdown-list"><a class="l3 main-nav-link-bg-highlight quatinery w-dropdown-link" href="../user/recipe-box.html">My Recipe Box</a>
          <a class="l3 main-nav-link-bg-highlight quatinery w-dropdown-link" href="../user/edit-profile.html">Edit Profile</a>
          <a class="l3 main-nav-link-bg-highlight quatinery w-dropdown-link" href="../index.html">Log Out</a>
        </nav></div>
    </div>
  </div>
  <div class="default-section">
    <div class="container w-clearfix">
      <div class="_33-pc sidebar">
        <div class="cta-wrapper follow-social separator-line-top-bottom sidebar w-hidden-medium w-hidden-small w-hidden-tiny" data-block="section_mission">
          <div class="scl-wrapper sidebar">
            <a class="scl w-inline-block" href="https://www.facebook.com/imperialsugar" target="_blank"></a>
            <a class="pn scl w-inline-block" href="http://pinterest.com/ImperialSugar/" target="_blank"></a>
            <a class="scl tw w-inline-block" href="https://twitter.com/imperialsugar" target="_blank"></a>
            <a class="gl scl w-inline-block" href="https://plus.google.com/u/0/b/113189406007727932134/+imperialsugar/posts" target="_blank"></a>
            <a class="in scl w-inline-block" href="http://instagram.com/imperial_sugar" target="_blank"></a>
            <a class="scl w-inline-block yt" href="http://www.youtube.com/user/imperialsugar" target="_blank"></a>
          </div>
          <h3>
            Connect with us to get exclusive recipes, sweet ideas, and more!
          </h3>
        </div>
        <div class="sidebar subscribe-wrapper" data-block="section_mission">
          <h3>Mmmm , like this recipe?</h3>
          <div class="sidebar subscribe-text">
            Subscribe to our newsletter for exclusive recipes, coupons, and promotions.
          </div>
          <div class="sidebar subscribe-form-position w-form">
            <form class="form-field-shadow subscribe-form-wrapper w-clearfix" data-name="Email Form" id="email-form" name="email-form">
              <input class="subscribe-field w-input" data-ix="search-bar-show" data-name="Subscribe 2" id="Subscribe-2" maxlength="256" name="Subscribe-2" placeholder="Email Address" type="text"><input class="btn subscribe-btn w-button" data-wait="Please wait..." type="submit" value="Subscribe" wait="Please wait..."></form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form</div>
            </div>
          </div>
        </div>
        <div class="cta-wrapper scl-actions sidebar w-clearfix" data-ix="fixed-scl-actions" data-block="section_mission">
          <h4>Tell others you&rsquo;re making this recipe!</h4>
          <a class="btn btn-tertiary pn scl-actions w-button" href="#">Pin it</a>
          <a class="btn btn-tertiary fb scl-actions w-button" href="#">Share it</a>
          <a class="btn btn-tertiary scl-actions tw w-button" href="#">Tweet it</a>
          <a class="btn btn-tertiary scl-actions w-button" href="#">Email it</a>
          <a class="btn btn-tertiary print scl-actions w-button" href="#">Print it</a>
          <a class="btn btn-tertiary rate scl-actions w-button" href="#">Rate it</a>
        </div>
        <div class="rcp-list-col w-clearfix w-hidden-medium w-hidden-small w-hidden-tiny">
          <h3 class="secondary">Related Recipes</h3>
          <div class="list rcp-wrapper" data-node="recipe" data-view-mode="list">
            <div class="rcp-info-wrapper rcp-list">
              <div class="activity list w-clearfix">
                <div class="list saves w-clearfix">
                  <div class="faved list save-icon"></div>
                  <div class="list save-icon" data-ix="modal-login-show"></div>
                  <div class="rcp-list saved-tally">31</div>
                </div>
                <div class="stars"></div>
              </div>
              <a class="list rcp-title w-inline-block" href="recipes/recipe.html">
                <h4>Delicious Praline Cinnamon Monkey Bread</h4>
              </a>
              <div class="rcp-list summary">
                <div class="dynamic-data rcp-summary-data">
                  By:
                  <a class="txt-link-sm" href="user/recipe-box.html">Chef Eddie Van Damme</a>
                </div>
              </div>
            </div>
            <div class="object-fit rcp-img-list">
              <img height="99" src="/themes/isonetheme/../images/Praline-Cinnamon-Monkey-Bread.jpg"></div>
          </div>
        </div>
      </div>
      <div class="_66-pc rcp-main w-clearfix">
        <div class="main rcp-img">
          <a class="w-inline-block w-lightbox" href="#">
            <div class="video-btn-wrapper">
              <img src="/themes/isonetheme/../images/icon-video-play-white.svg"></div>
            <div>
              {{ content.recipe_recipe_image }}</div>
            <script class="w-json" type="application/json">
              { "items": [{
                "type": "video",
                "html": "<iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FGZX7C0L3PvQ%3Fautoplay%3D1%26feature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DGZX7C0L3PvQ&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FGZX7C0L3PvQ%2Fhqdefault.jpg&key=c4e54deccf4d4ec997a64902e9a30300&autoplay=1&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" frameborder=\"0\" allowfullscreen>",
                "thumbnailUrl": "https://i.embed.ly/1/image?url=https%3A%2F%2Fi.ytimg.com%2Fvi%2FGZX7C0L3PvQ%2Fhqdefault.jpg&key=866738f8f18b4394a18e371517a66ae0",
                "width": 940,
                "height": 528,
                "url": "http://www.youtube.com/watch?v=GZX7C0L3PvQ"
              }] }
            </script></a>
        </div>
        <div class="rcp-main rcp-wrapper">
          <div class="activity rcp-main separator-line w-clearfix">
            <div class="rcp-main rcp-rating">
              <div class="rcp-main stars"></div>
            </div>
            <div class="rcp-main saves w-clearfix">
              <div class="rcp-main saved-tally">31</div>
              <div class="rcp-main save-icon" data-ix="modal-login-show"></div>
              <div class="faved rcp-main save-icon"></div>
            </div>
          </div>
          <h1>{{ label }}</h1>
          <div class="rcp-main user w-clearfix">
            <a class="rcp-main user-pic-med user-pic-wrapper w-inline-block" href="#">
              <img height="100%" src="/themes/isonetheme/../images/user-pic-example.jpg" width="100%"></a>
            <div class="rcp-author rcp-main rcp-summary-data">
              By
              <a href="#">{{author_name}}</a>
            </div>
            <div class="rcp-author rcp-main rcp-summary-data">
              <a class="txt-link-sm" href="#">Follow this Chef</a>
            </div>
          </div>
          <div data-node-field="description">{{ content.recipe_description }}</div>
          <div class="rcp-main summary">
            <div class="padding-bottom-10px separator-line summary-wrapper">
              <h6 class="rcp-main secondary">Yield</h6>
              <div class="dynamic-data rcp-main rcp-summary-data" data-node-field="yield">{{ content.recipe_yield }}</div>
            </div>
          </div>
          <div class="rcp-main summary">
            <h6 class="rcp-main secondary">Prep</h6>
            <div class="dynamic-data rcp-main rcp-summary-data">1</div>
            <div class="rcp-main rcp-summary-data">hr</div>
            <div class="dynamic-data rcp-main rcp-summary-data">20</div>
            <div class="rcp-main rcp-summary-data">mins</div>
          </div>
          <div class="rcp-main summary">
            <h6 class="rcp-main secondary">Cook</h6>
            <div class="dynamic-data rcp-main rcp-summary-data">20</div>
            <div class="rcp-main rcp-summary-data">mins</div>
          </div>
          <div class="rcp-main summary">
            <h6 class="rcp-main secondary">Freeze</h6>
            <div class="dynamic-data rcp-main rcp-summary-data">2</div>
            <div class="rcp-main rcp-summary-data">hrs</div>
          </div>
          <div class="rcp-main summary">
            <h6 class="rcp-main secondary">Rest</h6>
            <div class="dynamic-data rcp-main rcp-summary-data">45</div>
            <div class="rcp-main rcp-summary-data">mins</div>
          </div>
          <div class="rcp-main summary">
            <h6 class="rcp-main secondary">Decorate</h6>
            <div class="dynamic-data rcp-main rcp-summary-data">1</div>
            <div class="rcp-main rcp-summary-data">hr</div>
            <div class="dynamic-data rcp-main rcp-summary-data">20</div>
            <div class="rcp-main rcp-summary-data">mins</div>
          </div>
          <div class="rcp-seals-wrapper" data-vocabulary="seals">
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/WebsiteSealEmblem-On-the-ISC-bag-210.png" width="70"></div>
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/WebsiteSealEmblem-VintageRecipe-210.png" width="70"></div>
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/WebsiteSealEmblem-TestedBy-ISC_xl.png" width="70"></div>
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/WebsiteSealEmblem-TestedBy-DC_xl.png" width="70"></div>
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/WebsiteSealEmblem-TestedBy-ChefEddy_xl.png" width="70"></div>
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/WebsiteSealEmblem-MostPopular-210.png" width="70"></div>
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/WebsiteSealEmblem-Member-210.png" width="70"></div>
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/WebsiteSealEmblem-FoodBlogger-210.png" width="70"></div>
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/WebsiteSealEmblem-On-the-DC-bag-210.png" width="70"></div>
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/WebsiteSealEmblem-Blogger-210.png" width="70"></div>
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/WebsiteSealEmblem-AwardWinner_xl.png" width="70"></div>
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/WebsiteSealEmblem-Featured_xl.png" width="70"></div>
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/WebsiteSealEmblem-5StarsBlueRibbon-xl.png" width="70"></div>
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/Seal-RecipeTester-ISC.png" width="70"></div>
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/Seal-RecipeDeveloper-ISC.png" width="70"></div>
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/Seal-CulinarySpecialist-ISC.png" width="70"></div>
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/Seal-BlogAmbassador-ISC.png" width="70"></div>
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/Seal-CulinarySpecialist-DC.png" width="70"></div>
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/Seal-RecipeTester-DC.png" width="70"></div>
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/Seal-RecipeDeveloper-DC.png" width="70"></div>
            <div class="rcp-seal-img">
              <img height="70" src="/themes/isonetheme/../images/Seal-BlogAmbassador-DC.png" width="70"></div>
          </div>
        </div>
        <div class="cta-wrapper follow-social separator-line-top-bottom sidebar w-hidden-main">
          <div class="scl-wrapper sidebar">
            <a class="scl w-inline-block" href="https://www.facebook.com/imperialsugar" target="_blank"></a>
            <a class="pn scl w-inline-block" href="http://pinterest.com/ImperialSugar/" target="_blank"></a>
            <a class="scl tw w-inline-block" href="https://twitter.com/imperialsugar" target="_blank"></a>
            <a class="gl scl w-inline-block" href="https://plus.google.com/u/0/b/113189406007727932134/+imperialsugar/posts" target="_blank"></a>
            <a class="in scl w-inline-block" href="http://instagram.com/imperial_sugar" target="_blank"></a>
            <a class="scl w-inline-block yt" href="http://www.youtube.com/user/imperialsugar" target="_blank"></a>
          </div>
          <h3>
            Connect with us to get exclusive recipes, sweet ideas, and more!
          </h3>
        </div>
        <div class="rcp-text-wrapper">
          <h2 class="secondary">Ingredients</h2>
          <div class="rcp-ingredients-section">
            <h3>Pastry</h3>
            <p class="rcp-ingredients">
              &bull; &nbsp;1 package (8 oz) cream cheese, room temperature&nbsp;
              <br>
              &bull; &nbsp;3/4 cup
              <a class="rcp-ingredients-coupon-inline" href="#">Imperial Sugar Confectioners Powdered Sugar</a>
              <br>
              &bull; &nbsp;3 tablespoons finely grated lemon zest (no white bitter pith)
              <br>
              &bull; &nbsp;1 tablespoon fresh lemon juice
              <br>
              &bull; &nbsp;1 cup ricotta cheese
              <br>
              &bull; &nbsp;12 cannoli shells, store bought or homemade:
              <a href="#">Chocolate Peppermint Cannoli</a>
              <br>&bull; &nbsp;1/2 cup white chocolate chips</p>
          </div>
          <div class="rcp-ingredients-section">
            <h3>Filling</h3>
            <p class="rcp-ingredients">
              &bull; &nbsp;1 package (8 oz) cream cheese, room temperature&nbsp;
              <br>
              &bull; &nbsp;3/4 cup
              <a href="#">Imperial Sugar Confectioners Powdered Sugar</a>
              <br>
              &bull; &nbsp;3 tablespoons finely grated lemon zest (no white bitter pith)
              <br>
              &bull; &nbsp;1 tablespoon fresh lemon juice
              <br>
              &bull; &nbsp;1 cup ricotta cheese
              <br>
              &bull; &nbsp;12 cannoli shells, store bought or homemade:
              <a href="#">Chocolate Peppermint Cannoli</a>
              <br>&bull; &nbsp;1/2 cup white chocolate chips</p>
          </div>
          <h2 class="secondary">Directions</h2>
            <div class="rcp-directions" data-node-field="directions">{{ content.recipe_directions }}</div>
          <h2 class="secondary">Handy Tips</h2>
            <div class="rcp-directions" data-node-field="handy_tips">{{ content.recipe_handy_tips }}</div>
        </div>

        <div class="cta-wrapper duplicate scl-actions sidebar w-clearfix">
          <h4>Tell others you&rsquo;re making this recipe!</h4>
          <a class="btn btn-tertiary pn scl-actions w-button" href="#">Pin it</a>
          <a class="btn btn-tertiary fb scl-actions w-button" href="#">Share it</a>
          <a class="btn btn-tertiary scl-actions tw w-button" href="#">Tweet it</a>
          <a class="btn btn-tertiary scl-actions w-button" href="#">Email it</a>
          <a class="btn btn-tertiary print scl-actions w-button" href="#">Print it</a>
          <a class="btn btn-tertiary rate scl-actions w-button" href="#Write-a-review-of-this-recipe">Rate it</a>
        </div>
        {{ content.field_recipe_comments.0.comment_form }}
        {{comment_view}}
      </div>
    </div>
  </div>
  <div class="subscribe-wrapper">
    <div class="container global-subscribe">
      <div class="subscribe-text">
        Sign up to our newsletter for exclusive recipes, coupons, and promotions.
      </div>
      <div class="subscribe-form-position w-form">
        <form class="form-field-shadow subscribe-form-wrapper" data-name="Email Form" id="email-form" name="email-form">
          <input class="subscribe-field w-input" data-ix="search-bar-show" data-name="Subscribe" id="Subscribe" maxlength="256" name="Subscribe" placeholder="Email Address" type="text"><input class="btn subscribe-btn w-button" data-wait="Please wait..." type="submit" value="Sign up!" wait="Please wait..."></form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form</div>
        </div>
      </div>
    </div>
  </div>
  <div class="default-section ftr-section">
    <div class="container ftr-wrapper separator-line w-clearfix">
      <img class="ftr-logo" src="/themes/isonetheme/../images/Imperial_Brand_Logo.svg"><div class="ftr-nav-wrapper">
        <div>
          <a class="ftr-nav-sm main-nav-link-bg-highlight" href="http://www.imperialsugarcompany.com" target="_blank">Imperial Sugar Corporate</a>
          <a class="ftr-nav-sm main-nav-link-bg-highlight" href="../sitemap.html">Sitemap</a>
          <a class="ftr-nav-sm main-nav-link-bg-highlight" href="../terms-of-use.html">Terms of Use</a>
          <a class="ftr-nav-sm main-nav-link-bg-highlight" href="../privacy-policy.html">Privacy Policy</a>
        </div>
        <div class="w-hidden-tiny">
          <a class="main-nav-link-bg-highlight" href="#">Recipes</a>
          <a class="main-nav-link-bg-highlight w-hidden-medium w-hidden-small w-hidden-tiny" href="#">Kids in the Kitchen</a>
          <a class="main-nav-link-bg-highlight" href="#">Community</a>
          <a class="main-nav-link-bg-highlight w-hidden-medium w-hidden-small w-hidden-tiny" href="#">Blog</a>
          <a class="main-nav-link-bg-highlight" href="#">Coupons</a>
          <a class="main-nav-link-bg-highlight" href="#">Products</a>
          <a class="main-nav-link-bg-highlight" href="#">Contact Us</a>
        </div>
      </div>
      <img class="ftr-products w-hidden-small w-hidden-tiny" src="/themes/isonetheme/../images/ftr-products.png"></div>
    <div class="container ftr-wrapper">
      <div class="scl-ftr scl-wrapper">
        <a class="_30px scl w-inline-block" href="https://www.facebook.com/imperialsugar"></a>
        <a class="_30px pn scl w-inline-block" href="https://www.pinterest.com/imperialsugar/" target="_blank"></a>
        <a class="_30px scl tw w-inline-block" href="https://twitter.com/imperialsugar" target="_blank"></a>
        <a class="_30px gl scl w-inline-block" href="https://plus.google.com/u/0/b/113189406007727932134/+imperialsugar/posts" target="_blank"></a>
        <a class="_30px in scl w-inline-block" href="http://instagram.com/imperial_sugar" target="_blank"></a>
        <a class="_30px scl w-inline-block yt" href="http://www.youtube.com/user/imperialsugar" target="_blank"></a>
      </div>
      <div class="ftr-copyright">
        &copy; 2012&ndash;2016 Imperial Sugar. All rights reserved. All Imperial Sugar branded products are the registered marks of the Imperial Sugar Company.
      </div>
    </div>
  </div>
  <div class="modal-read-comment" data-ix="modal-bg-initial-appearance">
    <div class="modal-wrapper user-review">
      <a class="modal side-nav-close-wrapper w-clearfix w-inline-block" data-ix="modal-general-hide" href="#">
        <div class="main-nav-link-bg-highlight side-nav-close">Close</div>
        <img height="14" src="/themes/isonetheme/../images/side%20nav%20close%20x.svg" width="14"></a>
      <div class="activity separator-line user-cmmt w-clearfix">
        <a class="rcp-main user-pic-med user-pic-wrapper w-inline-block" href="#">
          <img height="100%" src="/themes/isonetheme/../images/user-pic-example.jpg" width="100%"></a>
        <div class="rcp-author rcp-main rcp-summary-data">
          <a href="../user/recipe-box.html">Kimberley O'Quinn</a>
        </div>
        <div class="stars user-cmmt"></div>
        <div class="body-small date user-cmmt">Feb 21, 2016</div>
      </div>
      <a class="w-inline-block" href="../recipes/recipe.html">
        <h3>Lemon and White Chocolate Cannoli</h3>
      </a>
      <p class="user-cmmt-txt user-review">
        I also left out the nuts cause I don't like them and these are wonderful. I do have a little hint...if you like your cookies soft and fluffy, I use 1/2 baking powder and 1/2 baking soda.&nbsp;your cookies soft and fluffy I also left out the nuts cause I don't like&hellip;I also left out the nuts cause I don't like them and these are wonderful. I do have a little hint...if you like your cookies soft and fluffy, I use 1/2 baking powder and 1/2 baking soda.&nbsp;your cookies soft and fluffy I also left out the nuts cause I don't like&hellip;I also left out the nuts cause I don't like them and these are wonderful. I do have a little hint...if you like your cookies soft and fluffy, I use 1/2 baking powder and 1/2 baking soda.&nbsp;your cookies soft and fluffy I also left out the nuts cause I don't like&hellip;
      </p>
    </div>
  </div>
  <div class="modal-thanks-comment" data-ix="modal-bg-initial-appearance">
    <div class="modal-wrapper txt-centered user-review">
      <a class="modal side-nav-close-wrapper w-clearfix w-inline-block" data-ix="modal-general-hide" href="#">
        <div class="main-nav-link-bg-highlight side-nav-close">Close</div>
        <img height="14" src="/themes/isonetheme/../images/side%20nav%20close%20x.svg" width="14"></a>
      <img alt="Thanks for your comment " height="100" src="/themes/isonetheme/../images/thanks-check-comment.svg" width="100"><h3>Thanks for your review!</h3>
      <p class="user-cmmt-txt user-review">
        Reviews and ratings are checked before publishing. Please allow several days for your review to appear.
      </p>
    </div>
  </div>
</div>
