          <div class="rcp-info-wrapper rcp-list">
            <div class="activity list">
              <div class="stars star-{{content.field_rating_average.0}}"> </div>

                   <div class="likes list w-clearfix">
                      <div class="rcp-list saved-tally">{{favorite_count}}</div>
                      {% if not logged_in %}
                      <div class="list save-icon" data-ix="modal-login-show">
                        <a class="action-flag" href="#">+</a>
                      </div>
                      {% else %}
                      <div class="list save-icon">
                      {{content.flag_favorite}}
                      </div>
                      {% endif %}
                    </div>

                    <div class="likes list w-clearfix">
                      <div class="rcp-list saved-tally">{{bookmark_count}}</div>
                      {% if not logged_in %}
                      <div class="list like-icon" data-ix="modal-login-show">
                        <a class="action-flag" href="#">+</a>
                      </div>
                      {% else %}
                      <div class="list like-icon">
                        {{content.flag_bookmark}}
                      </div>
                      {% endif %}
                    </div>
                  </div>

            <a class="list rcp-title w-inline-block" href="/recipes/recipe">
              <h4>{{ label }}</h4>
            </a>
            <div class="rcp-list summary">
              <div class="dynamic-data rcp-summary-data">
                By:
                <a class="txt-link-sm" href="/user/recipe-box">{{author_name}}</a>
              </div>
            </div>
          </div>
          {% if vid_id %}
            <div class="list video-btn-wrapper">
              <a class="w-inline-block" href="#">
                <img src="/themes/imperial/images/icon-video-play-white-sm.svg">
              </a>
            </div>
          {% endif %}
          <div class="object-fit rcp-img-list">
             {{ content.recipe_recipe_image }}
          </div>
         {% if vid_id %}
            <script class="w-json" type="application/json">
              { "items": [{
                "type": "video",
                "html": "<iframe class=\"embedly-embed\" src=\"https://www.youtube.com/embed/{{vid_id}}\" width=\"940\" height=\"528\" scrolling=\"no\" frameborder=\"0\" allowfullscreen>",
                "thumbnailUrl": "",
                "width": 940,
                "height": 528,
                "url": "https://www.youtube.com/watch?v={{vid_id}}" 
              }] }
           </script>
          {% endif %}