<div data-node="kids_landing">
    <div class="full-width-section">
      <div class="img-overlay-35"></div>
      <div class="header-img-lg object-fit">
        {{ content.kids_landing_background }}</div>
      <div class="_8col container position-absolute txt-centered valign-parent">
        {{ content.kids_landing_overlay }}<div class="valign">
          <h1 class="tertiary" data-node-field="title">{{ content.kids_landing_title }}</h1>
          <div class="body-lg tertiary" data-node-field="description">{{ content.kids_landing_description }}</div>
        </div>
      </div>
    </div>
    <div class="bg-secondary default-section">
      <div class="container w-clearfix">
        <div class="_66-pc" data-view="kids_popular_recipe" data-filter-type="node" data-filter-bundle="kids_kitchen" data-node-field="popular_recipe" data-target-type="view" data-target-bundle="kids_popular_recipe">{{ content.kids_landing_popular_recipe }}</div>
        <div class="_33-pc rcp-list-col w-clearfix" data-view="kids_trending_recipe" data-filter-type="node" data-filter-bundle="kids_kitchen" data-node-field="trending_recipe" data-target-type="view" data-target-bundle="kids_trending_recipe">{{ content.kids_landing_trending_recipe }}</div>
      </div>
    </div>
    <div class="default-section">
      <div class="container w-clearfix">
        <h3 class="secondary txt-centered" data-node-field="collection_title">{{ content.kids_landing_collection_title }}</h3>
        <div class="collection-title-underline"></div>
        <div class="_33-pc rcp-cllctn-card" data-view="collection_kids" data-filter-type="node" data-filter-bundle="kids_kitchen" data-node-field="collection_kids" data-target-type="view" data-target-bundle="collection_kids">{{ content.kids_landing_collection_kids }}</div>
        <div class="_33-pc rcp-cllctn-card">
          <div class="blog card cta-wrapper follow-social valign-parent" data-mh="card">
            <div class="valign">
              <div class="card scl-wrapper">
                <a class="scl w-inline-block" href="https://www.facebook.com/imperialsugar" target="_blank"></a>
                <a class="pn scl w-inline-block" href="http://pinterest.com/ImperialSugar/" target="_blank"></a>
                <a class="scl tw w-inline-block" href="https://twitter.com/imperialsugar" target="_blank"></a>
                <a class="gl scl w-inline-block" href="https://plus.google.com/u/0/b/113189406007727932134/+imperialsugar/posts" target="_blank"></a>
                <a class="in scl w-inline-block" href="http://instagram.com/imperial_sugar" target="_blank"></a>
                <a class="scl w-inline-block yt" href="http://www.youtube.com/user/imperialsugar" target="_blank"></a>
              </div>
              <h3>
                Connect with us to get exclusive recipes, sweet ideas, and more!
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>