{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form{{ attributes }}>
	<div class="add-cmmt-wrapper bg-secondary w-clearfix">
		<div class="w-clearfix">
	    	<a class="rcp-main user-pic-med user-pic-wrapper w-inline-block" href="#">
	     		<img height="100%" src="{{user_image_url}}" width="100%">
	    	</a>
	    	<h3 class="add-cmmt-title">Rate and Review</h3>
	    	<div class="add-cmmt stars">{{element.field_comment_rating}}</div>
	  	</div>
	  	<div class="add-cmmt-form-wrapper w-form">
			{{element.render_children}}
			{{element.form_token}}
			{{element.form_build_id}}
			{{element.form_id}}
			{{element.subject}}
			{{element.field_comment.widget.0.value}}
			{{element.actions.submit}}
	  	</div>
 	</div>
 </form>
