{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form{{ attributes }}>
	<div class="add-cmmt-wrapper bg-secondary w-clearfix">
		<div class="w-clearfix">
	    	<a class="rcp-main user-pic-med user-pic-wrapper w-inline-block" href="#">
	     		{{user_picture}}
	    	</a>
	    	<h3 class="add-cmmt-title">Rate and Review</h3>
	    	<div class="add-cmmt stars">{{element.field_comment_rating}}</div>
	  	</div>
	  	<div class="add-cmmt-form-wrapper w-form">
			{{element.render_children}}
			{{element.form_token}}
			{{element.form_build_id}}
			{{element.form_id}}
			{{element.subject}}
			{{element.comment_body.widget.0.value}}
			{{element.actions.submit}}
	  	</div>
 	</div>
 </form>

<!-- <div class="add-cmmt-wrapper bg-secondary w-clearfix">
	<div class="w-clearfix">
		<a class="rcp-main user-pic-med user-pic-wrapper w-inline-block" href="#">
			<img height="100%" src="/themes/isonetheme/../images/user-pic-example.jpg" width="100%"></a>
		<h3 class="add-cmmt-title">Rate and Review</h3>
		<div class="add-cmmt stars"></div>
	</div>
	<div class="add-cmmt-form-wrapper w-form">
		<form class="w-clearfix" data-name="Email Form 2" id="email-form-2" name="email-form-2">
			<label class="hidden" for="Write-a-review-of-this-recipe">Write a review of this recipe</label>
			<textarea class="form-multi-line-text-heigh w-input" data-name="Write a review of this recipe" id="Write-a-review-of-this-recipe" maxlength="5000" name="Write-a-review-of-this-recipe" placeholder="What did you think of this recipe? Would you make it again?&#8232; Your review and tips helps others get the best out of their baking."></textarea>
			<input class="btn btn-submit-form w-button" data-ix="modal-full-comment-show" data-wait="Please wait..." type="submit" value="Post Review"></form>
	</div>
</div> -->