<div {{ attributes }}> {{ title_suffix }}

<div class="default-section" data-block="p_landing">
    <div class="container">
      <div class="basic-header-wrapper coupons separator-line">
        {{ content.p_landing_imperial }}{{ content.p_landing_dixie }}<h1 data-block-field="title">{{ content.p_landing_title }}</h1>
      </div>
    </div>
    <div class="_8col container">
      <h3 class="display-inline-block" data-block-field="subtitle">{{ content.p_landing_subtitle }}</h3>
      <div data-block-field="description">{{ content.p_landing_description }}</div>
    </div>
    <div class="container margin-top-bottom">
      <div class="w-clearfix">
        <h3 class="secondary txt-centered">Granulated Sugar</h3>
        <div class="collection-title-underline"></div>
        <div class="_25-33-50-100-width _25-pc" data-node="product" data-view-mode="card">
          <div class="cpn-wrapper product" data-mh="card">
            <div class="bg-secondary cpn-top">
              <a class="pdct-img-wrapper w-inline-block" href="#">
                <img class="cpn-img-wrapper product" src="/{{ directory }}/images/imp-10efgbag.png"></a>
            </div>
            <div class="card pdct-bottom">
              <h4>Extra Fine Granulated Pure Cane Sugar Pouch or Bags</h4>
              <p class="body-sm">1 lb</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-clearfix">
        <h3 class="secondary txt-centered">Product Collection</h3>
        <div class="collection-title-underline"></div>
        <div class="_25-33-50-100-width _25-pc">
          <div class="cpn-wrapper product" data-mh="card">
            <div class="bg-secondary cpn-top">
              <a class="pdct-img-wrapper w-inline-block" href="#">
                <img class="cpn-img-wrapper product" src="/{{ directory }}/images/imp-10efgbag.png"></a>
            </div>
            <div class="card pdct-bottom">
              <h4>Extra Fine Granulated Pure Cane Sugar Pouch or Bags</h4>
              <p class="body-sm">1 lb</p>
            </div>
          </div>
        </div>
        <div class="_25-33-50-100-width _25-pc">
          <div class="cpn-wrapper product" data-mh="card">
            <div class="bg-secondary cpn-top">
              <a class="coupon pdct-img-wrapper w-inline-block" href="#">
                <img class="cpn-img-wrapper product" src="/{{ directory }}/images/imp-efgshaker.png"></a>
            </div>
            <div class="card pdct-bottom">
              <h4>Extra Fine Granulated Pure Cane Sugar Shaker</h4>
              <p class="body-sm">12 oz</p>
            </div>
          </div>
        </div>
        <div class="_25-33-50-100-width _25-pc">
          <div class="cpn-wrapper product" data-mh="card">
            <div class="bg-secondary cpn-top">
              <a class="pdct-img-wrapper w-inline-block" href="#">
                <img class="cpn-img-wrapper product" src="/{{ directory }}/images/imp-10efgbag.png"></a>
            </div>
            <div class="card pdct-bottom">
              <h4>Extra Fine Granulated Pure Cane Sugar Pouch or Bags</h4>
              <p class="body-sm">1 lb</p>
            </div>
          </div>
        </div>
        <div class="_25-33-50-100-width _25-pc">
          <div class="cpn-wrapper product" data-mh="card">
            <div class="bg-secondary cpn-top">
              <a class="pdct-img-wrapper w-inline-block" href="#">
                <img class="cpn-img-wrapper product" src="/{{ directory }}/images/imp-10efgbag.png"></a>
            </div>
            <div class="card pdct-bottom">
              <h4>Extra Fine Granulated Pure Cane Sugar Pouch or Bags</h4>
              <p class="body-sm">1 lb</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-clearfix">
        <h3 class="secondary txt-centered">Product Collection</h3>
        <div class="collection-title-underline"></div>
        <div class="_25-33-50-100-width _25-pc">
          <div class="cpn-wrapper product" data-mh="card">
            <div class="bg-secondary cpn-top">
              <a class="pdct-img-wrapper w-inline-block" href="#">
                <img class="cpn-img-wrapper product" src="/{{ directory }}/images/imp-10efgbag.png"></a>
            </div>
            <div class="card pdct-bottom">
              <h4>Extra Fine Granulated Pure Cane Sugar Pouch or Bags</h4>
              <p class="body-sm">1 lb</p>
            </div>
          </div>
        </div>
        <div class="_25-33-50-100-width _25-pc">
          <div class="cpn-wrapper product" data-mh="card">
            <div class="bg-secondary cpn-top">
              <a class="coupon pdct-img-wrapper w-inline-block" href="#">
                <img class="cpn-img-wrapper product" src="/{{ directory }}/images/imp-efgshaker.png"></a>
            </div>
            <div class="card pdct-bottom">
              <h4>Extra Fine Granulated Pure Cane Sugar Shaker</h4>
              <p class="body-sm">12 oz</p>
            </div>
          </div>
        </div>
        <div class="_25-33-50-100-width _25-pc">
          <div class="cpn-wrapper product" data-mh="card">
            <div class="bg-secondary cpn-top">
              <a class="pdct-img-wrapper w-inline-block" href="#">
                <img class="cpn-img-wrapper product" src="/{{ directory }}/images/imp-10efgbag.png"></a>
            </div>
            <div class="card pdct-bottom">
              <h4>Extra Fine Granulated Pure Cane Sugar Pouch or Bags</h4>
              <p class="body-sm">1 lb</p>
            </div>
          </div>
        </div>
        <div class="_25-33-50-100-width _25-pc">
          <div class="cpn-wrapper product" data-mh="card">
            <div class="bg-secondary cpn-top">
              <a class="pdct-img-wrapper w-inline-block" href="#">
                <img class="cpn-img-wrapper product" src="/{{ directory }}/images/imp-10efgbag.png"></a>
            </div>
            <div class="card pdct-bottom">
              <h4>Extra Fine Granulated Pure Cane Sugar Pouch or Bags</h4>
              <p class="body-sm">1 lb</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>