<div {{ attributes }}> {{ title_suffix }}

<div class="cta-wrapper share-rcp" data-block="share_band_imperial">
    {{ content.share_band_imperial_cupcake_icon }}<h2 data-block-field="title">{{ content.share_band_imperial_title }}</h2>
    <div data-block-field="description">{{ content.share_band_imperial_description }}</div>
    {{ content.share_band_imperial_share }}
  </div>

</div>