<div {{ attributes }}> {{ title_suffix }}

<div class="corporate-section default-section" data-block="learn_more">
    <div class="_10col container w-clearfix">
      {{ content.learn_more_imperial }}<h2 class="tertiary text-centered" data-block-field="title">{{ content.learn_more_title }}</h2>
      <div class="tertiary text-left" data-block-field="description">{{ content.learn_more_description }}</div>
      <div class="_33-pc w-hidden-small w-hidden-tiny">
        <h4 class="tertiary" data-block-field="vintage">{{ content.learn_more_vintage }}</h4>
        <div class="separator-line tertiary"></div>
        {{ vintage }}
      </div>
      <div class="_33-pc">
        <h4 class="tertiary" data-block-field="cane">{{ content.learn_more_cane }}</h4>
        <div class="separator-line tertiary"></div>
        {{ canesugar }}
      </div>
      <div class="_33-pc">
        <h4 class="tertiary" data-block-field="our">{{ content.learn_more_our }}</h4>
        <div class="separator-line tertiary"></div>
          {{ sugarshakers }}
      </div>
    </div>
  </div>

</div>