<div {{ attributes }}> {{ title_suffix }}

<div class="w-clearfix" data-block="social_band">
    <div class="_50-pc">
      <div class="cta-wrapper follow-social valign-parent" data-mh="cta">
        <div class="valign">
          <div class="scl-wrapper">
            <a class="scl w-inline-block" href="https://www.facebook.com/imperialsugar" target="_blank"></a>
            <a class="pn scl w-inline-block" href="http://pinterest.com/ImperialSugar/" target="_blank"></a>
            <a class="scl tw w-inline-block" href="https://twitter.com/imperialsugar" target="_blank"></a>
            <a class="gl scl w-inline-block" href="https://plus.google.com/u/0/b/113189406007727932134/+imperialsugar/posts" target="_blank"></a>
            <a class="in scl w-inline-block" href="http://instagram.com/imperial_sugar" target="_blank"></a>
            <a class="scl w-inline-block yt" href="http://www.youtube.com/user/imperialsugar" target="_blank"></a>
          </div>
          <h3 data-block-field="title">{{ content.social_band_title }}</h3>
        </div>
      </div>
    </div>
    <div class="_50-pc">
      <div class="cta-wrapper gmo" data-mh="cta">
        <h3 class="gmo-txt" data-block-field="certified">{{ content.social_band_certified }}</h3>
        {{ content.social_band_cert }}{{ content.social_band_gmo }}{{ content.social_band_learn_about }}
      </div>
    </div>
  </div>

</div>