<div {{ attributes }}> {{ title_suffix }}

<div class="w-clearfix" data-block="social_band">
    <div class="_50-pc">
      <div class="cta-wrapper follow-social valign-parent" data-mh="cta">
        <div class="valign">
          <div class="scl-wrapper">
            {{ content.social_band_facebook }}
            {{ content.social_band_pinterest }}
            {{ content.social_band_twitter }}
            {{ content.social_band_google }}
            {{ content.social_band_instagram }}
            {{ content.social_band_youtube }}
          </div>
          <h3 data-block-field="title">{{ content.social_band_title }}</h3>
        </div>
      </div>
    </div>
    <div class="_50-pc">
      <div class="cta-wrapper gmo" data-mh="cta">
        <h3 class="gmo-txt" data-block-field="certified">{{ content.social_band_certified }}</h3>
        {{ content.social_band_cert }}{{ content.social_band_gmo }}{{ content.social_band_learn_about }}
      </div>
    </div>
  </div>

</div>