<div {{ attributes }}> {{ title_suffix }}

<div class="default-section" data-block="privacy">
    <div class="_8col ck-editor container margin-top-bottom">
      <div class="basic-header-wrapper">
        {{ content.privacy_imperial }}{{ content.privacy_dixie }}<h1 data-block-field="title">{{ content.privacy_title }}</h1>
      </div>
      <div class="rcp-text-wrapper" data-block-field="description">{{ content.privacy_description }}</div>
    </div>
  </div>

</div>