<div {{ attributes }}> 

<div class="w-clearfix w-section" data-block="social_gmo" data-unique="unique">
    <div class="_50-pc">
      <div class="cta-wrapper follow-social" data-mh="Follow Social CTA" data-unique="unique">
        <div class="scl-wrapper">
          {{ content.social_gmo_fb_link }}
          {{ content.social_gmo_pinterest_link }}
          {{ content.social_gmo_twitter_link }}
          {{ content.social_gmo_googleplus_link }}
          {{ content.social_gmo_instagram_link }}
          {{ content.social_gmo_youtube_link }}
        </div>
        <h3 data-block-field="connect_text">{{ content.social_gmo_connect_text }}</h3>
      </div>
    </div>
    <div class="_50-pc">
      <div class="cta-wrapper gmo" data-mh="GMO CTA">
        <h3 class="gmo-txt" data-block-field="gmo_text">{{ content.social_gmo_gmo_text }}</h3>
        {{ content.social_gmo_fda_cert_img }}{{ content.social_gmo_non_gmo_cert }}{{ content.social_gmo_learn_sugar }}
      </div>
    </div>
  </div>
THIS IS DIXIE
</div>
