<div {{ attributes }}> {{ title_suffix }}

<div class="corporate-section default-section w-section" data-block="corporate" data-unique="unique">
    <div class="_10col container w-clearfix">
    {{ content.corporate_logo }}<h2 class="tertiary text-centered" data-block-field="trusted_title">{{ content.corporate_trusted_title }}</h2>
      <p class="tertiary text-left" data-block-field="trusted_text">{{ content.corporate_trusted_text }}</p>
      <p class="tertiary text-left" data-block-field="learn_more_text">{{ content.corporate_learn_more_text }}</p>
      
      {{ vintage_menu }}
      {{ howis_menu }}
      {{ products_menu }}
    </div>
  </div>

</div>