<div {{ attributes }}> {{ title_suffix }}

<div class="sticky-scl-actions" data-ix="sticky-scl-actions-display-none" data-block="social">
          <div>
            <div class="container w-clearfix">
              <div class="_33-pc sticky-sidebar">
                <div class="cta-wrapper scl-actions sidebar w-clearfix" data-ix="fixed-scl-actions">
                  <h4>Tell others you&rsquo;re making this recipe!</h4>
                  {{ content.social_pin }}
                  {{ content.social_fb }}
                  {{ content.social_tweet }}
                  <a class="btn btn-tertiary scl-actions w-button" href="#">Email it</a>
                  <a class="btn btn-tertiary print scl-actions w-button" href="#">Print it</a>
                  <a class="btn btn-tertiary rate scl-actions w-button" href="#">Rate it</a>
                </div>
              </div>
            </div>
          </div>
        </div>

</div>