<div {{ attributes }}> 

<div class="cta-wrapper share-rcp" data-block="share">
    {{ content.share_icon }}<h2 data-block-field="title">{{ content.share_title }}</h2>
    <p data-block-field="share_text">{{ content.share_share_text }}</p>
    {{ content.share_share_link }}
  </div>
THIS IS IMPERIAL
</div>