<div class="_33-50-50-100-width _33-pc w-clearfix" data-node="coupons" data-view-mode="card">
          <div class="cpn-wrapper" data-mh="card">
            <div class="cpn-top w-clearfix">
              <div class="_50-pc cpn-top-left">
                <div class="txt-centered">
                  {{ content.coupons_imperial }}{{ content.coupons_dixie }}</div>
              </div>
              <div class="_50-pc cpn-top-right valign-parent">
                <h4 class="valign" data-node-field="title">{{ content.coupons_title }}</h4>
              </div>
            </div>
            <div class="cpn-bottom">
              <h4 class="cpn-save">Save</h4>
              <div class="cpn-price pirce-dollar">$</div>
              <div class="cpn-price" data-node-field="price">{{ content.coupons_price }}</div>
              <div class="cpn-price pirce-dollar" data-node-field="cent">{{ content.coupons_cent }}</div>
              <a class="btn btn-clip-cpn w-button" href="#">Clip this coupon!</a>
            </div>
          </div>
        </div>