{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form{{ attributes }}>
{{element.render_children}}
{{element.form_token}}
{{element.form_build_id}}
{{element.form_id}}
{{element.subject}}
{{element.comment_body}}
{{element.actions}}
</form>
