{#
/**
 * @file
 * Default theme implementation for comments.
 *
 * Available variables:
 * - author: Comment author. Can be a link or plain text.
 * - content: The content-related items for the comment display. Use
 *   {{ content }} to print them all, or print a subset such as
 *   {{ content.field_example }}. Use the following code to temporarily suppress
 *   the printing of a given child element:
 *   @code
 *   {{ content|without('field_example') }}
 *   @endcode
 * - created: Formatted date and time for when the comment was created.
 *   Preprocess functions can reformat it by calling format_date() with the
 *   desired parameters on the 'comment.created' variable.
 * - changed: Formatted date and time for when the comment was last changed.
 *   Preprocess functions can reformat it by calling format_date() with the
 *   desired parameters on the 'comment.changed' variable.
 * - permalink: Comment permalink.
 * - submitted: Submission information created from author and created
 *   during template_preprocess_comment().
 * - user_picture: The comment author's profile picture.
 * - status: Comment status. Possible values are:
 *   unpublished, published, or preview.
 * - title: Comment title, linked to the comment.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class may contain one or more of the following classes:
 *   - comment: The current template type; for instance, 'theming hook'.
 *   - by-anonymous: Comment by an unregistered user.
 *   - by-{entity-type}-author: Comment by the author of the parent entity,
 *     eg. by-node-author.
 *   - preview: When previewing a new or edited comment.
 *   The following applies only to viewers who are registered users:
 *   - unpublished: An unpublished comment visible only to administrators.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - content_attributes: List of classes for the styling of the comment content.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - threaded: A flag indicating whether the comments are threaded or not.
 *
 * These variables are provided to give context about the parent comment (if
 * any):
 * - comment_parent: Full parent comment entity (if any).
 * - parent_author: Equivalent to author for the parent comment.
 * - parent_created: Equivalent to created for the parent comment.
 * - parent_changed: Equivalent to changed for the parent comment.
 * - parent_title: Equivalent to title for the parent comment.
 * - parent_permalink: Equivalent to permalink for the parent comment.
 * - parent: A text string of parent comment submission information created from
 *   'parent_author' and 'parent_created' during template_preprocess_comment().
 *   This information is presented to help screen readers follow lengthy
 *   discussion threads. You can hide this from sighted users using the class
 *   visually-hidden.
 *
 * These two variables are provided for context:
 * - comment: Full comment object.
 * - entity: Entity the comments are attached to.
 *
 * @see template_preprocess_comment()
 *
 * @ingroup themeable
 */
#}

<div class="_50-pc" data-node="recipe_comments" data-view-mode="card">
  <div class="card user-cmmt-wrapper" data-ix="fade-in-on-scroll" data-mh="review_card">
    <div class="activity separator-line user-cmmt w-clearfix">
      <a class="rcp-main user-pic-med user-pic-wrapper w-inline-block" href="/user/{{author_id}}">
        {{user_picture}}
      </a>
      <div class="rcp-author rcp-main rcp-summary-data">
        <a href="/user/uid----../user/recipe-box.html">{{author}}</a>
      </div>
      <div class="stars star-{{content.field_comment_rating['0']['#default_value']}} user-cmmt"></div>
      <div class="body-small date user-cmmt">{{created}}</div>
    </div><a href="../recipes/recipe.html" class="w--current">{{title}}</a>
    <p class="user-cmmt-txt">
      {{elements.comment_body}}
    </p><a class="show-review-link" data-ix="show-modal" href="#">Read more…</a>
  </div>
</div>

<!-- <div class="modal-read-comment" data-ix="modal-bg-initial-appearance" style="opacity: 0.39; display: none;">
    <div class="modal-wrapper user-review">
      <a class="modal side-nav-close-wrapper w-clearfix w-inline-block" data-ix="modal-general-hide" href="#">
        <div class="main-nav-link-bg-highlight side-nav-close">Close</div>
        <img height="14" src="/themes/isonetheme/../images/side%20nav%20close%20x.svg" width="14"></a>
      <div class="activity separator-line user-cmmt w-clearfix">
        <a class="rcp-main user-pic-med user-pic-wrapper w-inline-block" href="#">
          <img height="100%" src="/themes/isonetheme/../images/user-pic-example.jpg" width="100%"></a>
        <div class="rcp-author rcp-main rcp-summary-data">
          <a href="../user/recipe-box.html">{{author}}</a>
        </div>
        <div class="stars user-cmmt"></div>
        <div class="body-small date user-cmmt">{{created}}</div>
      </div>
      <a class="w-inline-block" href="../recipes/recipe.html">
        <h3>{{title}}</h3>
      </a>
      <p class="user-cmmt-txt user-review">
       {{elements.comment_body}}
      </p>
    </div>
  </div>

 -->
  



