{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
</article>
<div class="default-section">
	<div class="_6col container">
		<div class="basic-header-wrapper">
			<div class="object-fit user-pic-wrapper">
					<img height="100" src="{{user_image_url}}">
			</div>
			<div>
				<h2 class="user-name">{{user.name.value}}</h2>
			</div>
			<p class="body-light user-status">Community Member since {{user_since}}</p>
			

			<div class="w-form">
				<form data-name="Email Form 3" id="email-form-3" name="email-form-3">
					<div class="clickable-tag-wrapper w-checkbox w-clearfix">
						<input class="display-none w-checkbox-input" data-name="Follow" id="Follow" name="Follow" type="checkbox">			
						<label class="clickable-tag w-form-label" for="Follow">{{follow_flag}}</label>
						
					</div>
					<a class="clickable-tag w-button" href="/user/edit-profile">Edit Profile</a>
				</form>
			</div>
			

			<div class="expanding-bio" data-ix="expanding-bio-initial-appearance" style="opacity: 0; height: 0px;">
				<p>
					{{content.field_account_bio}}
				</p>
				<a href="#">{{content.field_account_website}}</a>
			</div>
			<a class="show-bio-link" data-ix="show-expanding-bio" href="#">Show Bio</a>
			<a class="hide-bio-link" data-ix="hide-epxanding-bio" href="#" style="display: none;">Hide Bio</a>
		</div>
	</div>
	<div class="container">
		<div class="w-tabs" data-duration-in="300" data-duration-out="100">
			<div class="separator-line tab-menu-wrapper w-tab-menu">
				<a class="tab-wrapper w-inline-block w-tab-link" data-w-tab="Faves">
					<h3 class="tab-counter">42</h3>
					<div>Faves</div>
				</a>
				<a class="tab-wrapper w-inline-block w-tab-link" data-w-tab="My Recipes">
					<h3 class="tab-counter">7</h3>
					<div>My Recipes</div>
				</a>
				<a class="tab-wrapper w--current w-inline-block w-tab-link" data-w-tab="Reviews">
					<h3 class="tab-counter">13</h3>
					<div>Reviews</div>
				</a>
				<a class="tab-wrapper w-inline-block w-tab-link" data-w-tab="Following">
					<h3 class="tab-counter">5</h3>
					<div>Following</div>
				</a>
			</div>
			<div class="w-tab-content">
				<div class="w-tab-pane" data-w-tab="Faves">
					<div class="container">
						<div class="search-refine-results-wrapper">
							<a class="btn btn-refine-search btn-secondary w-button" data-ix="show-refine-results" href="#" style="transition: all 0.1s ease 0s;">Refine</a>
						</div>
						<div class="search-results-wrapper separator-line" data-ix="display-none" style="display: none;">
							<div class="w-form">
								<form data-name="Email Form 2" id="email-form-2" name="email-form-2">
									<div class="refine-menu-controls-wrapper w-clearfix">
										<a class="btn btn-refine-search btn-refine-search-active btn-secondary w-button" data-ix="hide-refine-results" href="#" style="transition: all 0.1s ease 0s;">Close</a>
										<input class="btn btn-form btn-submit float-right w-button" data-wait="Please wait..." type="submit" value="Update Results"></div>
									<div class="w-clearfix">
										<div class="_25-pc">
											<div class="separator-line"></div>
											<div class="form-input-wrapper">
												<h4>Recipe time</h4>
												<div class="time-slider-wrapper">
													<div>Any time</div>
													<div class="time-slider-bar"></div>
													<div class="time-slider-button"></div>
												</div>
											</div>
											<div class="separator-line"></div>
											<div class="form-input-wrapper">
												<h4>Season</h4>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 524" id="checkbox-524" name="checkbox-524" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-524">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 525" id="checkbox-525" name="checkbox-525" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-525">Tag Two</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 526" id="checkbox-526" name="checkbox-526" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-526">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 527" id="checkbox-527" name="checkbox-527" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-527">4th Tag</label>
												</div>
											</div>
											<div class="separator-line"></div>
											<div class="form-input-wrapper">
												<h4>Course</h4>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 528" id="checkbox-528" name="checkbox-528" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-528">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 529" id="checkbox-529" name="checkbox-529" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-529">Tag Two</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 530" id="checkbox-530" name="checkbox-530" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-530">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 531" id="checkbox-531" name="checkbox-531" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-531">4th Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 532" id="checkbox-532" name="checkbox-532" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-532">Tag no. 5</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 533" id="checkbox-533" name="checkbox-533" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-533">Tag Number Six</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 534" id="checkbox-534" name="checkbox-534" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-534">Tag Seven</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 535" id="checkbox-535" name="checkbox-535" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-535">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 536" id="checkbox-536" name="checkbox-536" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-536">Tag Two</label>
												</div>
											</div>
										</div>
										<div class="_25-pc">
											<div class="separator-line"></div>
											<div class="form-input-wrapper">
												<h4>Dessert</h4>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 537" id="checkbox-537" name="checkbox-537" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-537">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 538" id="checkbox-538" name="checkbox-538" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-538">Tag Two</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 539" id="checkbox-539" name="checkbox-539" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-539">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 540" id="checkbox-540" name="checkbox-540" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-540">4th Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 541" id="checkbox-541" name="checkbox-541" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-541">Tag no. 5</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 542" id="checkbox-542" name="checkbox-542" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-542">Tag Number Six</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 543" id="checkbox-543" name="checkbox-543" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-543">Tag Seven</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 544" id="checkbox-544" name="checkbox-544" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-544">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 545" id="checkbox-545" name="checkbox-545" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-545">Tag Two</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 546" id="checkbox-546" name="checkbox-546" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-546">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 547" id="checkbox-547" name="checkbox-547" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-547">4th Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 548" id="checkbox-548" name="checkbox-548" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-548">Tag no. 5</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 549" id="checkbox-549" name="checkbox-549" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-549">Tag Number Six</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 550" id="checkbox-550" name="checkbox-550" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-550">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 551" id="checkbox-551" name="checkbox-551" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-551">Tag Seven</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 552" id="checkbox-552" name="checkbox-552" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-552">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 553" id="checkbox-553" name="checkbox-553" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-553">Tag Two</label>
												</div>
											</div>
										</div>
										<div class="_25-pc">
											<div class="separator-line"></div>
											<div class="form-input-wrapper">
												<h4>Holidays</h4>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 554" id="checkbox-554" name="checkbox-554" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-554">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 555" id="checkbox-555" name="checkbox-555" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-555">Tag Two</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 556" id="checkbox-556" name="checkbox-556" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-556">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 557" id="checkbox-557" name="checkbox-557" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-557">4th Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 558" id="checkbox-558" name="checkbox-558" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-558">Tag no. 5</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 559" id="checkbox-559" name="checkbox-559" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-559">Tag Number Six</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 560" id="checkbox-560" name="checkbox-560" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-560">Tag Seven</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 561" id="checkbox-561" name="checkbox-561" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-561">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 562" id="checkbox-562" name="checkbox-562" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-562">Tag Two</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 563" id="checkbox-563" name="checkbox-563" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-563">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 564" id="checkbox-564" name="checkbox-564" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-564">4th Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 565" id="checkbox-565" name="checkbox-565" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-565">Tag no. 5</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 566" id="checkbox-566" name="checkbox-566" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-566">Tag Number Six</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 567" id="checkbox-567" name="checkbox-567" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-567">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 568" id="checkbox-568" name="checkbox-568" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-568">Tag Seven</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 569" id="checkbox-569" name="checkbox-569" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-569">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 570" id="checkbox-570" name="checkbox-570" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-570">Tag Two</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 571" id="checkbox-571" name="checkbox-571" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-571">Tag Number Six</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 572" id="checkbox-572" name="checkbox-572" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-572">Tag no. 5</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 573" id="checkbox-573" name="checkbox-573" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-573">4th Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 574" id="checkbox-574" name="checkbox-574" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-574">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 575" id="checkbox-575" name="checkbox-575" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-575">Tag Two</label>
												</div>
											</div>
										</div>
										<div class="_25-pc">
											<div class="separator-line"></div>
											<div class="form-input-wrapper">
												<h4>Other</h4>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 576" id="checkbox-576" name="checkbox-576" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-576">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 577" id="checkbox-577" name="checkbox-577" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-577">Tag Two</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 578" id="checkbox-578" name="checkbox-578" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-578">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 579" id="checkbox-579" name="checkbox-579" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-579">4th Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 580" id="checkbox-580" name="checkbox-580" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-580">Tag no. 5</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 581" id="checkbox-581" name="checkbox-581" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-581">Tag Number Six</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 582" id="checkbox-582" name="checkbox-582" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-582">Tag Seven</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 583" id="checkbox-583" name="checkbox-583" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-583">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 584" id="checkbox-584" name="checkbox-584" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-584">Tag Two</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 585" id="checkbox-585" name="checkbox-585" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-585">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 586" id="checkbox-586" name="checkbox-586" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-586">4th Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 587" id="checkbox-587" name="checkbox-587" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-587">Tag no. 5</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 588" id="checkbox-588" name="checkbox-588" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-588">Tag Number Six</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 589" id="checkbox-589" name="checkbox-589" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-589">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 590" id="checkbox-590" name="checkbox-590" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-590">Tag Seven</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 591" id="checkbox-591" name="checkbox-591" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-591">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 592" id="checkbox-592" name="checkbox-592" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-592">Tag Two</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 593" id="checkbox-593" name="checkbox-593" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-593">Tag Number Six</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 594" id="checkbox-594" name="checkbox-594" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-594">Tag no. 5</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 595" id="checkbox-595" name="checkbox-595" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-595">4th Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 596" id="checkbox-596" name="checkbox-596" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-596">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 597" id="checkbox-597" name="checkbox-597" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-597">Tag Two</label>
												</div>
											</div>
										</div>
									</div>
								</form>
								<div class="w-form-done">
									<div>Thank you! Your submission has been received!</div>
								</div>
								<div class="w-form-fail">
									<div>Oops! Something went wrong while submitting the form</div>
								</div>
							</div>
						</div>
						<div class="w-clearfix">
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity rcp-hero w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">31</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Lemon Coconut Cream Cake</h4>
										</a>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d3_Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">168</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Egg Cake with Spun Sugar Nest</h4>
										</a>
									</div>
									<div class="card video-btn-wrapper">
										<a class="w-inline-block" href="#">
											<img src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2da_icon-video-play-white.svg"></a>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d7_Easter-Egg-Cake-Spun-Sugar-Nest.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity rcp-hero w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">31</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Lemon Coconut Cream Cake</h4>
										</a>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d3_Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card cta-wrapper share-rcp" data-mh="card" style="height: 330px;">
									<img height="80" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa299_cupcake-icon.svg">
									<h3>Share your sweet secrets with the community</h3>
									<a class="btn w-button" href="/share-a-recipe">Share your Recipe!</a>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">168</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Egg Cake with Spun Sugar Nest</h4>
										</a>
									</div>
									<div class="card video-btn-wrapper">
										<a class="w-inline-block" href="#">
											<img src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2da_icon-video-play-white.svg"></a>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d7_Easter-Egg-Cake-Spun-Sugar-Nest.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">168</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Egg Cake with Spun Sugar Nest</h4>
										</a>
									</div>
									<div class="card video-btn-wrapper">
										<a class="w-inline-block" href="#">
											<img src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2da_icon-video-play-white.svg"></a>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d7_Easter-Egg-Cake-Spun-Sugar-Nest.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity rcp-hero w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">31</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Lemon Coconut Cream Cake</h4>
										</a>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d3_Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity rcp-hero w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">31</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Lemon Coconut Cream Cake</h4>
										</a>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d3_Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">168</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Egg Cake with Spun Sugar Nest</h4>
										</a>
									</div>
									<div class="card video-btn-wrapper">
										<a class="w-inline-block" href="#">
											<img src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2da_icon-video-play-white.svg"></a>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d7_Easter-Egg-Cake-Spun-Sugar-Nest.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity rcp-hero w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">31</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Lemon Coconut Cream Cake</h4>
										</a>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d3_Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">168</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Egg Cake with Spun Sugar Nest</h4>
										</a>
									</div>
									<div class="card video-btn-wrapper">
										<a class="w-inline-block" href="#">
											<img src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2da_icon-video-play-white.svg"></a>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d7_Easter-Egg-Cake-Spun-Sugar-Nest.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity rcp-hero w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">31</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Lemon Coconut Cream Cake</h4>
										</a>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d3_Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity rcp-hero w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">31</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Lemon Coconut Cream Cake</h4>
										</a>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d3_Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">168</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Egg Cake with Spun Sugar Nest</h4>
										</a>
									</div>
									<div class="card video-btn-wrapper">
										<a class="w-inline-block" href="#">
											<img src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2da_icon-video-play-white.svg"></a>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d7_Easter-Egg-Cake-Spun-Sugar-Nest.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity rcp-hero w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">31</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Lemon Coconut Cream Cake</h4>
										</a>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d3_Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity rcp-hero w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">31</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Lemon Coconut Cream Cake</h4>
										</a>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d3_Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
								</div>
							</div>
						</div>
						<div class="load-more-wrapper">
							<a class="btn w-button" href="#">Show more</a>
						</div>
					</div>
				</div>
				<div class="w-tab-pane" data-w-tab="My Recipes">
					<div class="container">
						<div class="search-refine-results-wrapper">
							<a class="btn btn-refine-search btn-secondary w-button" data-ix="show-refine-results" href="#" style="transition: all 0.1s ease 0s;">Refine</a>
						</div>
						<div class="search-results-wrapper separator-line" data-ix="display-none" style="display: none;">
							<div class="w-form">
								<form data-name="Email Form 2" id="email-form-2" name="email-form-2">
									<div class="refine-menu-controls-wrapper w-clearfix">
										<a class="btn btn-refine-search btn-refine-search-active btn-secondary w-button" data-ix="hide-refine-results" href="#" style="transition: all 0.1s ease 0s;">Close</a>
										<input class="btn btn-form btn-submit float-right w-button" data-wait="Please wait..." type="submit" value="Update Results"></div>
									<div class="w-clearfix">
										<div class="_25-pc">
											<div class="separator-line"></div>
											<div class="form-input-wrapper">
												<h4>Recipe time</h4>
												<div class="time-slider-wrapper">
													<div>Any time</div>
													<div class="time-slider-bar"></div>
													<div class="time-slider-button"></div>
												</div>
											</div>
											<div class="separator-line"></div>
											<div class="form-input-wrapper">
												<h4>Season</h4>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 450" id="checkbox-450" name="checkbox-450" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-450">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 451" id="checkbox-451" name="checkbox-451" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-451">Tag Two</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 452" id="checkbox-452" name="checkbox-452" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-452">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 453" id="checkbox-453" name="checkbox-453" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-453">4th Tag</label>
												</div>
											</div>
											<div class="separator-line"></div>
											<div class="form-input-wrapper">
												<h4>Course</h4>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 454" id="checkbox-454" name="checkbox-454" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-454">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 455" id="checkbox-455" name="checkbox-455" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-455">Tag Two</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 456" id="checkbox-456" name="checkbox-456" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-456">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 457" id="checkbox-457" name="checkbox-457" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-457">4th Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 458" id="checkbox-458" name="checkbox-458" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-458">Tag no. 5</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 459" id="checkbox-459" name="checkbox-459" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-459">Tag Number Six</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 460" id="checkbox-460" name="checkbox-460" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-460">Tag Seven</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 461" id="checkbox-461" name="checkbox-461" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-461">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 462" id="checkbox-462" name="checkbox-462" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-462">Tag Two</label>
												</div>
											</div>
										</div>
										<div class="_25-pc">
											<div class="separator-line"></div>
											<div class="form-input-wrapper">
												<h4>Dessert</h4>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 463" id="checkbox-463" name="checkbox-463" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-463">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 464" id="checkbox-464" name="checkbox-464" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-464">Tag Two</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 465" id="checkbox-465" name="checkbox-465" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-465">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 466" id="checkbox-466" name="checkbox-466" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-466">4th Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 467" id="checkbox-467" name="checkbox-467" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-467">Tag no. 5</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 468" id="checkbox-468" name="checkbox-468" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-468">Tag Number Six</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 469" id="checkbox-469" name="checkbox-469" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-469">Tag Seven</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 470" id="checkbox-470" name="checkbox-470" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-470">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 471" id="checkbox-471" name="checkbox-471" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-471">Tag Two</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 472" id="checkbox-472" name="checkbox-472" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-472">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 473" id="checkbox-473" name="checkbox-473" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-473">4th Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 474" id="checkbox-474" name="checkbox-474" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-474">Tag no. 5</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 475" id="checkbox-475" name="checkbox-475" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-475">Tag Number Six</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 476" id="checkbox-476" name="checkbox-476" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-476">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 477" id="checkbox-477" name="checkbox-477" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-477">Tag Seven</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 478" id="checkbox-478" name="checkbox-478" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-478">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 479" id="checkbox-479" name="checkbox-479" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-479">Tag Two</label>
												</div>
											</div>
										</div>
										<div class="_25-pc">
											<div class="separator-line"></div>
											<div class="form-input-wrapper">
												<h4>Holidays</h4>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 480" id="checkbox-480" name="checkbox-480" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-480">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 481" id="checkbox-481" name="checkbox-481" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-481">Tag Two</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 482" id="checkbox-482" name="checkbox-482" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-482">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 483" id="checkbox-483" name="checkbox-483" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-483">4th Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 484" id="checkbox-484" name="checkbox-484" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-484">Tag no. 5</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 485" id="checkbox-485" name="checkbox-485" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-485">Tag Number Six</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 486" id="checkbox-486" name="checkbox-486" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-486">Tag Seven</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 487" id="checkbox-487" name="checkbox-487" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-487">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 488" id="checkbox-488" name="checkbox-488" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-488">Tag Two</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 489" id="checkbox-489" name="checkbox-489" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-489">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 490" id="checkbox-490" name="checkbox-490" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-490">4th Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 491" id="checkbox-491" name="checkbox-491" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-491">Tag no. 5</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 492" id="checkbox-492" name="checkbox-492" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-492">Tag Number Six</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 493" id="checkbox-493" name="checkbox-493" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-493">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 494" id="checkbox-494" name="checkbox-494" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-494">Tag Seven</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 495" id="checkbox-495" name="checkbox-495" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-495">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 496" id="checkbox-496" name="checkbox-496" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-496">Tag Two</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 497" id="checkbox-497" name="checkbox-497" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-497">Tag Number Six</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 498" id="checkbox-498" name="checkbox-498" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-498">Tag no. 5</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 499" id="checkbox-499" name="checkbox-499" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-499">4th Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 500" id="checkbox-500" name="checkbox-500" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-500">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 501" id="checkbox-501" name="checkbox-501" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-501">Tag Two</label>
												</div>
											</div>
										</div>
										<div class="_25-pc">
											<div class="separator-line"></div>
											<div class="form-input-wrapper">
												<h4>Other</h4>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 502" id="checkbox-502" name="checkbox-502" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-502">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 503" id="checkbox-503" name="checkbox-503" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-503">Tag Two</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 504" id="checkbox-504" name="checkbox-504" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-504">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 505" id="checkbox-505" name="checkbox-505" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-505">4th Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 506" id="checkbox-506" name="checkbox-506" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-506">Tag no. 5</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 507" id="checkbox-507" name="checkbox-507" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-507">Tag Number Six</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 508" id="checkbox-508" name="checkbox-508" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-508">Tag Seven</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 509" id="checkbox-509" name="checkbox-509" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-509">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 510" id="checkbox-510" name="checkbox-510" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-510">Tag Two</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 511" id="checkbox-511" name="checkbox-511" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-511">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 512" id="checkbox-512" name="checkbox-512" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-512">4th Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 513" id="checkbox-513" name="checkbox-513" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-513">Tag no. 5</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 514" id="checkbox-514" name="checkbox-514" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-514">Tag Number Six</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 515" id="checkbox-515" name="checkbox-515" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-515">Tag 1</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 516" id="checkbox-516" name="checkbox-516" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-516">Tag Seven</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 517" id="checkbox-517" name="checkbox-517" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-517">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 518" id="checkbox-518" name="checkbox-518" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-518">Tag Two</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 519" id="checkbox-519" name="checkbox-519" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-519">Tag Number Six</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 520" id="checkbox-520" name="checkbox-520" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-520">Tag no. 5</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 521" id="checkbox-521" name="checkbox-521" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-521">4th Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 522" id="checkbox-522" name="checkbox-522" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-522">Third Tag</label>
												</div>
												<div class="clickable-tag-wrapper w-checkbox w-clearfix">
													<input class="display-none w-checkbox-input" data-name="Checkbox 523" id="checkbox-523" name="checkbox-523" type="checkbox">
													<label class="clickable-tag w-form-label" for="checkbox-523">Tag Two</label>
												</div>
											</div>
										</div>
									</div>
								</form>
								<div class="w-form-done">
									<div>Thank you! Your submission has been received!</div>
								</div>
								<div class="w-form-fail">
									<div>Oops! Something went wrong while submitting the form</div>
								</div>
							</div>
						</div>
						<div class="w-clearfix">
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity rcp-hero w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">31</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Lemon Coconut Cream Cake</h4>
										</a>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d3_Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">168</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Egg Cake with Spun Sugar Nest</h4>
										</a>
									</div>
									<div class="card video-btn-wrapper">
										<a class="w-inline-block" href="#">
											<img src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2da_icon-video-play-white.svg"></a>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d7_Easter-Egg-Cake-Spun-Sugar-Nest.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity rcp-hero w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">31</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Lemon Coconut Cream Cake</h4>
										</a>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d3_Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card cta-wrapper share-rcp" data-mh="card" style="height: 330px;">
									<img height="80" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa299_cupcake-icon.svg">
									<h3>Share your sweet secrets with the community</h3>
									<a class="btn w-button" href="/share-a-recipe">Share your Recipe!</a>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">168</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Egg Cake with Spun Sugar Nest</h4>
										</a>
									</div>
									<div class="card video-btn-wrapper">
										<a class="w-inline-block" href="#">
											<img src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2da_icon-video-play-white.svg"></a>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d7_Easter-Egg-Cake-Spun-Sugar-Nest.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">168</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Egg Cake with Spun Sugar Nest</h4>
										</a>
									</div>
									<div class="card video-btn-wrapper">
										<a class="w-inline-block" href="#">
											<img src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2da_icon-video-play-white.svg"></a>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d7_Easter-Egg-Cake-Spun-Sugar-Nest.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity rcp-hero w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">31</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Lemon Coconut Cream Cake</h4>
										</a>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d3_Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="height: 330px;">
									<div class="card rcp-info-wrapper">
										<div class="activity rcp-hero w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">31</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Lemon Coconut Cream Cake</h4>
										</a>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d3_Easter-Lemon-Coconut-Layer-Cake.jpg"></div>
								</div>
							</div>
							<div class="_25-pc">
								<div class="card rcp-wrapper" data-mh="card" data-node="recipe" data-view-mode="card" style="">
									<div class="card rcp-info-wrapper">
										<div class="activity w-clearfix">
											<div class="rcp-rating">
												<div class="stars"></div>
											</div>
											<div class="saves w-clearfix">
												<div class="saved-tally">168</div>
												<div class="card save-icon" data-ix="show-login-modal"></div>
												<div class="card faved save-icon"></div>
											</div>
										</div>
										<div class="summary">
											<div class="dynamic-data rcp-summary-data">Prep: 20 mins</div>
											<div class="dynamic-data rcp-summary-data">Total time: 31–34 mins</div>
										</div>
										<a class="card rcp-title w-inline-block" href="/recipes/recipe">
											<h4>Easter Egg Cake with Spun Sugar Nest</h4>
										</a>
									</div>
									<div class="card video-btn-wrapper">
										<a class="w-inline-block" href="#">
											<img src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2da_icon-video-play-white.svg"></a>
									</div>
									<div class="object-fit rcp-img-card">
										<img height="330" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa2d7_Easter-Egg-Cake-Spun-Sugar-Nest.jpg"></div>
								</div>
							</div>
						</div>
						<div class="load-more-wrapper">
							<a class="btn w-button" href="#">Show more</a>
						</div>
					</div>
				</div>
				<div class="w--tab-active w-tab-pane" data-w-tab="Reviews">
					<div class="container tab-container-top-margin w-clearfix">
						<div class="_33-pc">
							<div class="card user-cmmt-wrapper" data-mh="review_card" style="height: 271px;">
								<div class="activity separator-line user-cmmt w-clearfix">
									<a class="rcp-main user-pic-med user-pic-wrapper w-inline-block" href="#">
										<img height="100%" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa287_user-pic-example.jpg" width="100%"></a>
									<div class="rcp-author rcp-main rcp-summary-data">
										<a href="/user/recipe-box" class="w--current">Kimberley O'Quinn</a>
									</div>
									<div class="stars user-cmmt"></div>
									<div class="body-small date user-cmmt">Feb 21, 2016</div>
								</div>
								<a href="/recipes/recipe">Cherry Walnut Snowball Cookies</a>
								<p class="user-cmmt-txt">
									I also left out the nuts cause I don't like them and these are wonderful. I do have a little hint...if you like your cookies soft and fluffy, I use 1/2 baking powder and 1/2 baking soda.&nbsp;your cookies soft and fluffy I also left out the nuts cause I don't like…
								</p>
								<a class="show-review-link" data-ix="show-modal" href="#">Read more…</a>
							</div>
						</div>
						<div class="_33-pc w-clearfix">
							<div class="card user-cmmt-wrapper" data-mh="review_card" style="height: 271px;">
								<div class="activity separator-line user-cmmt w-clearfix">
									<a class="rcp-main user-pic-med user-pic-wrapper w-inline-block" href="#">
										<img height="100%" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa287_user-pic-example.jpg" width="100%"></a>
									<div class="rcp-author rcp-main rcp-summary-data">
										<a href="/user/recipe-box" class="w--current">Kimberley O'Quinn</a>
									</div>
									<div class="stars user-cmmt"></div>
									<div class="body-small date user-cmmt">Feb 21, 2016</div>
								</div>
								<a href="/recipes/recipe">Cherry Walnut Snowball Cookies</a>
								<p class="user-cmmt-txt">
									I also left out the nuts cause I don't like them and these are wonderful. I do have a little hint...if you like your cookies soft and fluffy, I use 1/2 baking powder and 1/2 baking soda.&nbsp;your cookies soft and fluffy I also left out the nuts cause I don't like…
								</p>
								<a class="show-review-link" data-ix="show-modal" href="#">Read more…</a>
							</div>
						</div>
						<div class="_33-pc">
							<div class="card user-cmmt-wrapper" data-mh="review_card" style="height: 271px;">
								<div class="activity separator-line user-cmmt w-clearfix">
									<a class="rcp-main user-pic-med user-pic-wrapper w-inline-block" href="#">
										<img height="100%" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa287_user-pic-example.jpg" width="100%"></a>
									<div class="rcp-author rcp-main rcp-summary-data">
										<a href="/user/recipe-box" class="w--current">Kimberley O'Quinn</a>
									</div>
									<div class="stars user-cmmt"></div>
									<div class="body-small date user-cmmt">Feb 21, 2016</div>
								</div>
								<a href="/recipes/recipe">Cherry Walnut Snowball Cookies</a>
								<p class="user-cmmt-txt">
									I also left out the nuts cause I don't like them and these are wonderful. I do have a little hint...if you like your cookies soft and fluffy, I use 1/2 baking powder and 1/2 baking soda.&nbsp;your cookies soft and fluffy I also left out the nuts cause I don't like…
								</p>
								<a class="show-review-link" data-ix="show-modal" href="#">Read more…</a>
							</div>
						</div>
						<div class="_33-pc">
							<div class="card user-cmmt-wrapper" data-mh="review_card" style="height: 271px;">
								<div class="activity separator-line user-cmmt w-clearfix">
									<a class="rcp-main user-pic-med user-pic-wrapper w-inline-block" href="#">
										<img height="100%" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa287_user-pic-example.jpg" width="100%"></a>
									<div class="rcp-author rcp-main rcp-summary-data">
										<a href="/user/recipe-box" class="w--current">Kimberley O'Quinn</a>
									</div>
									<div class="stars user-cmmt"></div>
									<div class="body-small date user-cmmt">Feb 21, 2016</div>
								</div>
								<a href="/recipes/recipe">Cherry Walnut Snowball Cookies</a>
								<p class="user-cmmt-txt">
									I also left out the nuts cause I don't like them and these are wonderful. I do have a little hint...if you like your cookies soft and fluffy, I use 1/2 baking powder and 1/2 baking soda.&nbsp;your cookies soft and fluffy I also left out the nuts cause I don't like…
								</p>
								<a class="show-review-link" data-ix="show-modal" href="#">Read more…</a>
							</div>
						</div>
						<div class="_33-pc">
							<div class="card user-cmmt-wrapper" data-mh="review_card" style="height: 271px;">
								<div class="activity separator-line user-cmmt w-clearfix">
									<a class="rcp-main user-pic-med user-pic-wrapper w-inline-block" href="#">
										<img height="100%" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa287_user-pic-example.jpg" width="100%"></a>
									<div class="rcp-author rcp-main rcp-summary-data">
										<a href="/user/recipe-box" class="w--current">Kimberley O'Quinn</a>
									</div>
									<div class="stars user-cmmt"></div>
									<div class="body-small date user-cmmt">Feb 21, 2016</div>
								</div>
								<a href="/recipes/recipe">Cherry Walnut Snowball Cookies</a>
								<p class="user-cmmt-txt">
									I also left out the nuts cause I don't like them and these are wonderful. I do have a little hint...if you like your cookies soft and fluffy, I use 1/2 baking powder and 1/2 baking soda.&nbsp;your cookies soft and fluffy I also left out the nuts cause I don't like…
								</p>
								<a class="show-review-link" data-ix="show-modal" href="#">Read more…</a>
							</div>
						</div>
						<div class="_33-pc">
							<div class="card user-cmmt-wrapper" data-mh="review_card" style="height: 271px;">
								<div class="activity separator-line user-cmmt w-clearfix">
									<a class="rcp-main user-pic-med user-pic-wrapper w-inline-block" href="#">
										<img height="100%" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa287_user-pic-example.jpg" width="100%"></a>
									<div class="rcp-author rcp-main rcp-summary-data">
										<a href="/user/recipe-box" class="w--current">Kimberley O'Quinn</a>
									</div>
									<div class="stars user-cmmt"></div>
									<div class="body-small date user-cmmt">Feb 21, 2016</div>
								</div>
								<a href="/recipes/recipe">Cherry Walnut Snowball Cookies</a>
								<p class="user-cmmt-txt">
									I also left out the nuts cause I don't like them and these are wonderful. I do have a little hint...if you like your cookies soft and fluffy, I use 1/2 baking powder and 1/2 baking soda.&nbsp;your cookies soft and fluffy I also left out the nuts cause I don't like…
								</p>
								<a class="show-review-link" data-ix="show-modal" href="#">Read more…</a>
							</div>
						</div>
						<div class="_33-pc">
							<div class="card user-cmmt-wrapper" data-mh="review_card" style="">
								<div class="activity separator-line user-cmmt w-clearfix">
									<a class="rcp-main user-pic-med user-pic-wrapper w-inline-block" href="#">
										<img height="100%" src="http://uploads.webflow.com/57881ee87f72ae77504aa25a/57881ee87f72ae77504aa287_user-pic-example.jpg" width="100%"></a>
									<div class="rcp-author rcp-main rcp-summary-data">
										<a href="/user/recipe-box" class="w--current">Kimberley O'Quinn</a>
									</div>
									<div class="stars user-cmmt"></div>
									<div class="body-small date user-cmmt">Feb 21, 2016</div>
								</div>
								<a href="/recipes/recipe">Cherry Walnut Snowball Cookies</a>
								<p class="user-cmmt-txt">
									I also left out the nuts cause I don't like them and these are wonderful. I do have a little hint...if you like your cookies soft and fluffy, I use 1/2 baking powder and 1/2 baking soda.&nbsp;your cookies soft and fluffy I also left out the nuts cause I don't like…
								</p>
								<a class="show-review-link" data-ix="show-modal" href="#">Read more…</a>
							</div>
						</div>
					</div>
				</div>
				<div class="w-tab-pane" data-w-tab="Following">
					
					{{following}}
					
				</div>
				
			</div>
		</div>
	</div>
</div>